footer
	//-div(class="social-icons")
	//-script(type="text/javascript").
		var addthis_config = addthis_config||{};
		addthis_config.data_track_clickback = false;

	div( class="copyright")
		p 
			| &copy;#{moment().format('YYYY')} The Economist Intelligence Unit Ltd. All rights reserved.
			| Neither The Economist Intelligence Unit Ltd. nor its affiliates can accept
			| responsibility or liability for reliance by any person on this information.

	div( class="policy")
		a(href="") Private policy
	div( class="partner")
		span Developed By
		ul
			li
				a(href="")
					img(src="/images/logo-economist.png")
			li
				a(href="")
					img(src="/images/logo-intelligenceUnit.png")
				

script(type="text/javascript").
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-47157594-2', 'wsm-qi.com');
	ga('send', 'pageview');