div(class="header")
	div(class="top_bar")
		a(href="http://www.citigroup.com" target="_blank") citigroup.com
		
		ul(class="ul_top_nav_link")
			li
				a(href="http://careers.citigroup.com/Careers/Default.jsp?lang=en" title="Careers" target="_blank") Careers
			li
				a(href="http://www.citialumninetwork.com/" title="Alumni" target="_blank") Alumni
			
	div(class="banner")
		div( class="logo")
			a( href="http://www.citi.com" )
				img(alt="citi" src="/images/global_header_logo.png")
		div( class="title") Progress Makers at Work

		div(class="mobile-menu")
			button(class="btn btn-mobile-menu")
				i(class="fa fa-bars")

	nav(class="navigation")
		ul
			li
				a(href="/") Home
			li
				a(href="/progress-makers/") Progress Makers Profiles
			li
				a(href="/progress-makers-report/") Progress Makers Report
			li
				a(href="/benchmarking-tool/") Benchmarking Tool

	div(class="social-links")
		
		div(class="social-links-inner")

			div(class="addthis_toolbox addthis_default_style addthis_32x32_style")
				div(class="social-btn")
					i(class="fa fa-share-alt")
				a(class="addthis_button_linkedin")
				a(class="addthis_button_google_plusone_share")
				a(class="addthis_button_facebook")
				a(class="addthis_button_twitter")
				a(class="addthis_button_email")

			script(type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-54c1345543d61e9c" async="async")
			script(type="text/javascript").
				var addthis_config = addthis_config||{};
				addthis_config.data_track_addressbar = false;
