.abstract
	img(src="/images/img_profile-detail_akhtar-badshah.jpg" alt="Akhtar Badshah")
	h1 Akhtar Badshah
	h2 Senior Director of Global Community Affairs, Microsoft
	p
		strong Challenge: 
		| Nearly one-quarter of the world’s youth are today out of work, school or training.
	p
		strong Solution: 
		| Mr. Badshah and his colleagues have been establishing technology-based partnerships with teachers, nonprofits, businesses and governments around the world to help young people develop job skills.
	p
		strong Impact: 
		| Microsoft’s program aims to reach 300m youth over three years. 

section(class="main")
	h1  Technology executive architects opportunity
	p Akhtar Badshah often refers to himself as an architect, not a technologist. While architecture was his first career, he has for 15 years presided over one of the most ambitious corporate philanthropies as  Microsoft’s senior director of global community affairs. In this role, Mr. Badshah has been pivotal in advancing the use of information technology for social and economic development. 
	p According to this former architect, technology has become so evolved that everyone today has the potential to innovate. “You don’t have to be a technologist,” he claims.
	p It is a message particularly targeted at young people. Today, nearly one-quarter of the world’s youth (290m 15-to-24-year-olds) are out of work, school or training, as The Economist recently reported. Mr. Badshah and his team have been establishing technology-based partnerships with schools (and their teachers), nonprofits, businesses and governments around the world—based on the premise that each and every one of these young people and these organizations need access, skills and opportunities to succeed.

	h2 Bridging the opportunity gap
	p Technology is a tool to help bridge the opportunity gap faced by so many. Rapid technological advancement over the past decade has put important tools in place. According to the Progress Makers at Work survey, the area that has seen the most progress over this period has been the field of information and communication technologies. Going forward, education is one of the top three areas identified in the survey as needing to progress.
	p Working at the intersection of technology and education, Microsoft has launched such initiatives as its YouthSpark grants to youth-focused nonprofits, its Skype in the Classroom shared-learning program and Office 365 for Education, a set of cloud-based tools for students and teachers. Microsoft has set the bar high: reach 300m youth globally through its extensive partnership network in three years.
	p Mr. Badshah’s work with youth does not stop at job creation. Speaking at the National Youth Entrepreneurship Summit in Jakarta, he told a stadium of some 50,000 participants to grow beyond the personal to the societal and beyond passion to compassion.
	blockquote If you are interested in making change, make change.” 
	p In Indonesia and elsewhere, Mr. Badshah encourages youth to “be unreasonable” and refuse to take no for an answer. In this way, as he says, “you will find ways to move forward by overcoming obstacles.” He also advises them to learn continuously, especially from failures along the way and, above all, to act. On another occasion, in Kuala Lumpur, he told his young audience that: “If you are interested in making change, make change.” By starting small and persisting, young people can develop the skills to be progress makers.

	h2 Letting numbers tell the story
	p In an interview, Mr. Badshah eschews talk of his own personal motivation or passion for social impact. Nor did passion for technology bring him to Microsoft. Rather, while still a practicing architect, he was asked to help implement the vision of a social entrepreneur focused on the digital divide between the rich and poor. 
	p His work is reflected in the “Microsoft 2013 Citizenship Report,” and includes such impressive statistics as $2m a day in software donations made over the course of the year to more than 70,000 nonprofit organizations in over 100 countries. 
	p While youth is a focus, the “Citizenship Report” also includes dozens of other partnerships and activities, from the hosting of a Hack Autism event for creating scenario-specific prototypes, to work on the Xbox Kinect motion-sensing technology for sign language, to 3-D Soundscape, which helps blind people navigate their environments using smartphones.
	p It is not only through community work that Microsoft aims for social and environmental impact. “Just creating an innovative company is a huge contribution to the world,” as company founder Bill Gates said recently on the Reddit social news website. Across Microsoft, Mr. Badshah points to colleagues’ model work in such areas as instituting internal carbon fees to make its various departments more accountable for energy consumption.
	blockquote We know at the highest level that employees want to have the opportunity to serve
	p While Microsoft’s community work is based on technology, Microsoft’s corporate volunteer program is open to any charitable work. Whether bringing technology skills to bear or doing strictly non-technology work, company employees have clocked 2m hours of volunteering since 2006, with Microsoft providing matching funds or paid time off. “We know at the highest level that employees want to have the opportunity to serve,” Mr. Badshah says. “The guidelines are deliberately loose. We’re not going to direct employees where to spend their time.”
	p Meanwhile, operating separately from Microsoft, the Bill & Melissa Gates Foundation is making its own significant impact in such areas as global health and US education.

	h2 Realizing a return on social investment
	p Overall, Mr. Badshah is seeing a trend at Microsoft and other companies toward the “shared-value” principle, which integrates social impact and sustainability into business models to deliver both corporate profits and solutions to society’s challenges.
	blockquote Companies are becoming more sophisticated, not just doing philanthropy for philanthropy’s sake, and there’s nothing wrong with that
	p “Companies are becoming more sophisticated, not just doing philanthropy for philanthropy’s sake, and there’s nothing wrong with that,” Mr. Badshah says. Business benefits to Microsoft can be seen as its youth programs address a skills gap in the technology industry. One of the most significant returns to Microsoft on its nonprofit investments may be employee engagement and retention: 89 percent of Microsoft’s employees say they feel proud to work at the company, according to its “Citizenship Report.” 
	p Mr. Badshah is now looking at how Microsoft might work with partners to advance a new shared value model called “impact sourcing.” An extension of outsourcing, this social innovation breaks large projects down into “microwork”—image tagging or data mining, for instance—then distributes the work among impoverished local communities around the world. 

	h2 Making work matter
	p For all of Microsoft’s donated software, expertise, money, time and innovation over the years, the work of Mr. Badshah and his team is clearly not over. As Microsoft’s new CEO, Satya Nadella, said in his first email to employees, “I truly believe that each of us must find meaning in our work. The best work happens when you know that it’s not just work, but something that will improve other people’s lives.”