.abstract
	img(src="/images/img_profile-detail_andrew-ng.jpg" alt="Claire Fallender")
	h1 Andrew Ng
	h2 Co-Founder, Coursera Inc
	p
		strong Challenge: 
		| Education is seen by most as a path to a better life, yet statistics show only one-third of adults in developed countries have college degrees—even fewer in the rest of the world.	
	p
		strong Solution: 
		| Massive open online courses (MOOCs) are spreading education to young and old, rich and poor, far and wide.
	p
		strong Impact: 
		| As a MOOC pioneer, Coursera Inc. has educated 9m students in some 200 countries in its first two years.

section(class="main")
	h1 Computer scientist reimagines education for all
	p The ratio of 100,000 students to one instructor dramatically changes the economics of education. This is just one of the countless calculations that young computer scientist Andrew Ng arrived at before co-founding Coursera Inc., a pioneer in the massive open online courses (MOOCs) phenomenon that recently exploded onto the educational landscape.
	blockquote The poorest in our society tend to be the ones shouldering the longest commute
	p Another of Mr. Ng’s calculations concerns the educational potential in an impoverished worker’s two-hour bus commute in a big city. “The poorest in our society tend to be the ones shouldering the longest commute,” Mr. Ng says. He reimagines this numbing downtime as an opportunity for someone to use Coursera’s mobile app, armed only with a cheap handheld device and a dream. “We now have it within our power to give every individual a shot at a middle-class life,” he says.

	h2 Enter the MOOC
	p Over one in three executives in the Progress Makers at Work survey say progress is most needed today in education. It is a global problem by almost any measure, including a finding by the Organization for Economic Co-operation and Development that only one-third of adults in developed countries have college degrees—the proportion is even smaller in the rest of the world. 
	p Progress makers throughout the field of education have looked online for solutions, and Mr. Ng is taking this pursuit to the next level with Coursera’s MOOC platform. Conventional, tuition-based online education was slowly developing when Coursera, Khan Academy and other MOOC pioneers came along to disrupt it.
	p MOOCs have gained so much traction so quickly that the New York Times declared 2012 “The Year of the MOOC.” In just over two years, Coursera has already attracted millions of students young and old, rich and poor, far and wide by providing free online access to top university instructors giving hundreds of courses—everything from “Applying Principles of Behavior in the K-12 Classroom” to “Advanced Chemistry” to “Fundamentals of the Global Energy Business.”

	h2 Laboring in the computer labs
	p Mr. Ng embodies the imagination and creativity prized most highly by executives in the Progress Makers at Work survey. He is credited with breakthroughs in artificial intelligence, robotics and even autonomous helicopters. Yet, in a conversation about Coursera, what comes to the fore is his resilience.
	p “Coursera is one of those overnight successes that wasn’t so overnight,” he leaps to say. “People don’t see the six years we spent building out the technology and trying different versions—some of which worked, some that didn’t—and learning hard lessons.”
	p It all started in 2007. From his research into artificial intelligence, Mr. Ng knew that smart machines and automation can remove drudgery from both work and life. Yet he found himself in academia, as an associate professor of computer science at Stanford University, “delivering the same lecture in the same lecture hall and telling the same jokes, year after year.” It seemed like a highly inefficient use of a professor’s time—and not a great learning experience for students, either.
	p That year, using what he calls “the dumbest possible technology,” Mr. Ng set up a camera at the back of the hall, videotaped his lecture and put the course online. Soon, he began running into people on the streets of Silicon Valley who had attended his class via YouTube. “It was an amazing experience for a relatively unknown professor,” says Mr. Ng, who is now in his late 30s.
	p Taking his unexpected fame to confirm the value of putting university content online, Mr. Ng began working on multiple improvements. His idea was to give every student in every MOOC a great learning experience, no matter how many students were enrolled.
	blockquote Elsewhere, it would have been even harder to recruit a handful of students of this caliber and to start a revolution.
	p The bar was high, even though the essentials were there at Stanford, with the availability of world-class computing technology at an institution in the Silicon Valley known to attract top-performing students. “Elsewhere, it would have been even harder to recruit a handful of students of this caliber and to start a revolution.”
	p Along the way, he partnered with Coursera co-founder Daphne Koller, another Stanford professor, who was developing the “flipped-classroom” model, in which students view lectures online prior to class to make more efficient and interactive use of actual class time.

	h2 Scaling superpowers to the multitudes 
	p In yet another set of calculations, Mr. Ng and Ms. Koller settled on a for-profit model as the best way to attract the most talented engineers and scale their platform up as rapidly as possible. As a social enterprise, Coursera is building fee-based business lines, including corporate training programs, to support its mainstay of free education.
	blockquote Coursera wants to provide superpowers on a wide scale.
	p Today, Mr. Ng likes to say that education gives you “superpowers”—such as the power to code software or to provide proper nutrition for your family. By removing cost barriers to education, he says, “Coursera wants to provide superpowers on a wide scale.” 
	p He distills years of others’ statistics and analyses, adding that, “with an education, you will live a longer life.” It might also be a better life, with greater upward social mobility. He describes a grocery checkout clerk who completes a dozen MOOCs, lists them on her résumé, gets a better job and improves the livelihood of her family. “The US certainly needs a solution like that, and many countries in Europe need it. Developing countries need it more,” Mr. Ng notes.
	blockquote Our four-year degree no longer appears adequate for our decades-long career trajectories.
	p Regardless of nationality or social status, more and more adults today are seeking better access to continuing education to keep up with the accelerating pace of business. “Everything is getting faster,” Mr. Ng says. “Our four-year degree no longer appears adequate for our decades-long career trajectories.”

	h2 Class is in session—for 9 million and counting
	p Coursera attendance to date has been over 9m (and counting) students in some 200 countries, and partnerships have been forged with more than 100 academic institutions to provide courses.
	p While Coursera has already grown much faster than Mr. Ng expected, scale is not its only measure of progress. The university professors teaching on Coursera’s platform are breaking new ground, providing innovative interactive features within the context of video instruction. Students, meanwhile, engage in community building and peer-to-peer assessments of assignments such as essays that are not graded by computer, but by fellow students. Coursera reports encouraging results, pointing to direct feedback as well as research on peer-to-peer pedagogy.
	blockquote Free up professors to pursue more interactive modes of instruction in their classrooms and allow universities to share their knowledge and expertise with more people worldwide
	p Working with universities, Coursera seeks to completely transform education – both on campus (which the company calls “blended education”) as well as online. Mr. Ng’s stated aim as a progress maker is simple, yet powerful: “Free up professors to pursue more interactive modes of instruction in their classrooms and allow universities to share their knowledge and expertise with more people worldwide.”
	p Add Coursera’s new mobile apps to the mix and Mr. Ng sees even greater potential. “Coursera has had millions of students,” he says, “but that is only a tiny sliver of the world’s population. We are just getting started.” 
