.abstract
	img(src="/images/img_profile-detail_claire-fallender.jpg" alt="Claire Fallender")
	h1 Claire Fallender
	h2 Director of Ashoka’s Global Venture and Fellowship
	p
		strong Challenge: 
		| How to harness entrepreneurship to solve the world’s most pressing problems.
	p
		strong Solution: 
		| Ashoka has pioneered social entrepreneurship by seed funding progress makers, providing them with a global network of support and, increasingly, partnering with businesses directly.
	p
		strong Impact: 
		| Ms. Fallender manages a network that has provided $100m in support to 3,000 progress makers since the early 1980s, empowering women in the field as well. 

section(class="main")
	h1 Ashoka director connects innovators to impact
	p Claire Fallender has a good idea of what it takes to change the world. As director of the Global Venture and Fellowship program at Ashoka: Innovators for the Public, she is charged with identifying and supporting the growing ranks of social innovators in its worldwide network.
	p Ashoka, an Arlington, Virginia-based nonprofit organization, pioneered the concept of social entrepreneurship, identifying and investing in people with transformative ideas for solving problems around the world. Since the early 1980s, Ashoka has invested $100m in some 3,000 social entrepreneurs. Its success is widely documented—including a book that is, in fact, called How to Change the World.
	blockquote They will not rest until their idea is the new pattern in society 
	p One factor above all others accounts for Ashoka’s impact, according to Ms. Fallender, and that is drive. Ashoka’s leadership, its team and the Ashoka Fellows all share this trait. “They will not rest until their idea is the new pattern in society,” she says. This level of determination also shines through in the Progress Makers at Work survey as one of the top five attributes of a progress maker.
	
	h2 Identifying with change
	p Ashoka’s method for identifying social innovators has become something of a science over the years. 
	p Similar to a business entrepreneur who changes an entire industry, the social entrepreneur selected by Ashoka seeks to effect system-wide change. “You might start with building a nice school,” Ms. Fallender says, “but you are out to transform an educational system.”
	blockquote You might start with building a nice school,but you are out to transform an educational system
	p Beyond this essential drive, traits of vision, problem solving, entrepreneurship, ethical fiber, empathy, teamwork, leadership and social impact are all part of the Ashoka Fellow’s makeup.
	p Once selected, fellows join in a collaborative entrepreneurship network of peers, potential business partners and support systems to increase the reach and momentum of their ideas for social change.
	p Over 40 percent of the fellows in this network are women. In fact, the first-ever Ashoka Fellow was Gloria de Souza, credited with introducing modern experiential education and improving the lives of millions of children in India, as founder of the Parisar Asha Environmental Education Centre. The contributions of Ms. de Souza and women like her are reflected in the Progress Makers at Work survey, in which only national governments rank higher than women among groups influencing social development.
	
	h2 Finding strength in numbers
	p Ashoka’s value as a support network is critical to women and men alike, helping its fellows overcome their individual challenges. Mara Mourão saw this clearly, as the São Paulo-based director of Who Cares?, an award-winning documentary featuring several Ashoka Fellows. “When they start, the main obstacle is to sell their idea, especially if it is a very innovative idea. Even their family doesn’t understand.”
	blockquote They have to be very creative to find a way to effect social good and still remain sustainable
	p Being in the Ashoka network provides fellows with a sense of identity, validation of their potential in their communities and an exchange of ideas that can help realize their vision, Ms. Mourão says. “They have to be very creative to find a way to effect social good and still remain sustainable.” 
	p Empowered by Ashoka, fellows ultimately act as role models and door-openers for others. For all it does, Ms. Fallender still thinks the network should play yet another important support role. Ashoka Fellows can be so driven that they can lose a sense of work-life balance and risk burnout, she says, adding that the Ashoka team is looking for ways to address this problem.
	
	h2 Getting on the progress track
	p Ms. Fallender’s own career as a progress maker began at an early age, and she credits her progressive public school for giving its students time and encouragement to pursue social projects and other independent activities. She was further influenced by a volunteer mission to Honduras that largely served to show her how misguided a well-intentioned group of outsiders can be.
	p When she later met an Ashoka Fellow—a visionary from within a poor community who understood the actors and problems involved—she found her career. She joined Ashoka just out of college in the 1990s, starting in Latin America and today working out of the organization’s metropolitan Washington, DC, headquarters.
	
	h2 Raising the bar
	p Over the years, Ashoka has expanded its vision beyond the individual entrepreneur. Sometimes, for example, great impact is achieved when Ashoka and its fellows come together with business partners, Ms. Fallender says.
	p Its “hybrid value-chain” model of working with businesses leverages private sector capabilities to enable the cost-effective delivery of needed goods and services to low-income populations. For participating companies, social engagement helps employees become better problem solvers, developing whole new ways of seeing their work. One example Ms. Fallender points to is Intel, the Santa Clara, California, semiconductor giant whose participation in the “She will innovate” contest helps identify technologies for empowering women and girls.
	blockquote What would the world look like if every child could master empathy or have the experience of ‘entrepreneuring’ their own idea?
	p Ashoka is by no means finished with its ambitious mission, and insiders now speak in terms of increasing what they call the “global density” of social entrepreneurs. Ms. Fallender introduces this “next level of impact” with the question, “What would the world look like if every child could master empathy or have the experience of ‘entrepreneuring’ their own idea?”
	p “Because we were able to identify and create a network of these very extraordinary social entrepreneurs, we have seen patterns emerge,” she explains. Applying these patterns to new youth programs, in collaboration with partners, Ashoka aims to show how everyone can develop the right skills to drive change. Simply put: “If there are more problem solvers, problems will not get to the point of being so intractable.”
