.abstract
	img(src="/images/img_profile-detail_elsbeth-tronstad.jpg" alt="Elsbeth Tronstad")
	h1 Elsbeth Tronstad
	h2 Executive Vice President, SN Power
	p
		strong Challenge: 
		| One-fifth of the world’s population still needs access to electricity for economic development – without harmful environmental trade-offs.
	p
		strong Solution: 
		| Hydropower – particularly a new run-of-the-river technique that requires little water storage–is proving highly attractive in the developing world, with its smaller environmental footprint.
	p
		strong Impact: 
		| SN Power’s operations to date have saved millions of tons of CO2 emissions while lighting millions of homes and businesses in developing countries.

section(class="main")
	h1 Norwegian energy executive scales up renewable progress
	p Renewable energy promises a better future for the developing world. This is SN Power’s mission, and it is Elsbeth Tronstad’s passion, as the Oslo-based company’s executive vice president of corporate social and environmental responsibility. 
	p SN Power has been bringing hydropower to developing countries since it was created in 2002 by Statkraft Group, Europe’s largest producer of hydroelectricity, and the Norwegian Investment Fund for Developing Countries. 
	p This mission is not simply a matter of producing greener energy. Twenty percent of the world’s population still has no access to electricity at all, according to the World Bank. “No energy means no development,” Ms. Tronstad says, whether in the economy, agriculture, healthcare or education.

	h2 At the heart of a lifelong pursuit
	p Ms. Tronstad’s linked focus on issues of sustainability and development  flows from her Scandinavian background as well as her early travels in distant lands.
	p She grew up in a country that is said to generate 99 percent of its electricity using hydropower. “We are in a very lucky position,” Ms. Tronstad says, “but the environment is global and companies like ours need to take this responsibility extremely seriously, given what we know about climate change.”
	blockquote I have a job that employs both my heart and my head
	p A visit to Sri Lanka when in her early 20s sparked Ms. Tronstad’s long commitment to international development. Later, working in government, she went on to become Norway’s deputy foreign minister and then into international business. With this background, “I have a job that employs both my heart and my head,” she says. When she speaks about power, she speaks about children able to do homework at night, new small businesses and meals prepared without sickening cookstove smoke pervading the home.
	p This is the kind of passion that also stands out in the EIU’s Progress Makers survey: 43 percent of respondents see passion as a defining attribute of progress makers.

	h2 Technology plus improved communication equals sustainability
	p Ms. Tronstad credits technology with driving the convergence of these dual objectives of sustainability and development. “I am a strong believer in technology,” she says. Using technology from Statkraft, SN Power has been deploying an innovation known as “run-of-the-river” in developing countries. Instead of building big dams that flood large tracts of land, displacing communities and wildlife, the run-of-the-river approach generates power less invasively—from water flowing down a mountain.
	blockquote I am a strong believer in technology
	p SN Power has also, in the past, bought into large existing systems of conventional design. In such cases, it has been SN Power’s innovation in corporate social responsibility (CSR) that comes into play. In the Philippines, for example, one major dam had been the source of decades of resentment, dating back to its original construction and disruption of an indigenous community. As SN Power took ownership, it entered into a vigorous conflict-resolution program that became a Harvard University case study for its CSR merit.

	h2 Nurturing community ties
	p Whether big or small, hydropower plants can raise issues in local communities that have experienced past abuses or that question whether the new run-of-the-river approach will simply bring a new set of problems, such as damage to fish stocks or less water for crops. In addition to engaging in community outreach and conflict resolution, SN Power creates education, healthcare, microenterprise and other community development programs, while working on environmental concerns that include reforestation, watershed protection and sustainable agriculture.
	p Ms. Tronstad sees local community improvements that extend beyond any formal programs, pointing to the growth each hydropower plant brings in jobs, small business, communication infrastructure shared by neighbors and better, safer roads. In the Harvard case study on the Philippines, company executives also describe community relations pragmatically. The alternative to effective CSR can mean operating in a hostile environment, they say, which “takes a lot of management time to fix, affects morale and demotivates employees.”
	p In environmental terms, SN Power measures progress in the communities it serves in several ways. One is the combined millions of tons of reduced CO2 emissions per year achieved to date across its international operations. An example of impact at the national level is the run-of-the-river operation it built in Khimti, Nepal. The plant has the capacity to serve five million people and is the site of a medical clinic treating 12,000 patients annually. A local community has also set up an energy cooperative with the support of SN Power and now runs its own utility.

	h2 Painting a new energyscape
	p SN Power is now exploring new projects in Africa, Central America and Southeast Asia, as it has been handing off many of its already operational plants in nine countries to Statkraft. As Ms. Tronstad explains it, while Statkraft can be viewed as an industrial behemoth, “we are expected to use our small, lean, fast organization to go into new markets and start from scratch.”
	blockquote we are expected to use our small, lean, fast organization to go into new markets and start from scratch
	p There is no shortage of options. Two-thirds of economically feasible hydropower potential is currently undeveloped, according to SN Power, especially in countries that have the highest unserved populations.
	p Hydropower will play an important role in these countries’ future energyscapes of multiple renewables, Ms. Tronstad says, as solar, wind and hydropower systems—of diminishing size and price—bring electricity to more and more communities and individuals. She likens this evolution to the wireless revolution that has brought even remote villages onto the global communications grid without requiring a massive infrastructure of landlines and poles.
	p But there are challenges ahead. As water shortages beset parts of the globe, for example, systems may need to operate higher in the mountains. There are also competing interests and lingering issues within the energy sector, including cheaper coal, suddenly abundant natural gas and unsolved problems with storing wind and solar power. 
	p Still, it is clear from the Progress Makers at Work study that environmental sustainability is a top issue, with 41 percent of executives calling it the area in which progress is needed most. 
	p From her particularly Norwegian perspective on the matter, Ms. Tronstad sees hydropower as an important part of the solution—both on its own and within multisource hydro-, solar- and wind-power plans—to keep electricity flowing when the sun doesn’t shine or the wind subsides.
	p “In 10 years, the energy picture will be totally different. I think this will actually go quite fast,” she says. “The world needs a lot of energy.”
