.abstract
	img(src="/images/img_profile-detail_michael-mina.jpg" alt="Michael Mina")
	h1 Michael Mina
	h2 Medical student and post-doctoral scholar in public health
	p
		strong Challenge: 
		| Despite progress, contaminated water continues to cause sickness, stunted growth and death around the world, often among children in rural areas.
	p
		strong Solution: 
		| Helping individuals in isolated communities set up microbusinesses providing inexpensive chlorination of water. 
	p
		strong Impact: 
		| Seven Nicaraguan communities have gained relatively cheap access to clean water using Mr. Mina’s approach, and his research in the field is helping to apply lessons learned to other public health problems.

section(class="main")
	h1 Medical student explores uncharted paths to global health
	p If progress is a journey, it is one that has already taken 30-year-old Michael Mina very far. He has traveled from remote outposts in Nicaragua to poor communities in sub-Saharan Africa to a tsunami refugee camp in Sri Lanka and back—often to Nicaragua. In addition, as a medical student at Emory University and a post-doctoral scholar in public health at Princeton University, he shuttles between work in the field and in the lab. 
	blockquote Without decent public health systems, medicine is often just a Band-Aid
	p While progress is indeed a journey, as more than nine in ten executives in the Progress Makers at Work survey agree, Mr. Mina’s journey has been marked by an impressive investment of time, patience, resolve and dedication. Moreover, his experiences have taught him to recognize recurring patterns from place to place, leaving him with strongly held views about what works—and what does not—in helping people everywhere lead healthier lives.
	p “Without decent public health systems, medicine is often just a Band-Aid,” he says. He has founded a small nonprofit, Grassroot Health Inc., to implement several of his ideas, particularly a household water-purification initiative based on a microbusiness model.

	h2 Treating water as a business
	p Even as an undergraduate student, Mr. Mina quickly saw the futility and unintended consequences of well-meaning medical volunteer missions and crisis responses abroad. On one such mission, he watched physicians administer short-term fixes to patients who clearly suffered from chronic disorders. The doctors seemed to be missing the big picture. He asked mothers, waiting in line for treatment with their children, what they really needed. The answer: safe drinking water.
	p Mr. Mina developed a plan to help individuals in Nicaragua’s rural Región Autónoma del Atlántico Norte to set up their own microbusinesses, providing inexpensive chlorination of water to families for a small profit.
	p Farmers in the region often live a kilometer or more apart, so piped water is not a near-term solution for many, including those mothers Mr. Mina first met at the clinic. Meanwhile, drinking water straight from streams has led to diarrhea and stunted growth. The ramifications affect entire communities, as stunted children grow up to be less-productive farmers.
	blockquote Push a button and within a minute you have enough clean water for three weeks for four Córdobas
	p Mr. Mina’s approach to the problem makes each water purifier its own sustainable microbusiness. Some of the purifiers are simple, solar-powered generators provided as part of a worldwide trial by PATH, a leading international health organization in Seattle, Washington. “Push a button and within a minute you have enough clean water for three weeks for four córdobas,” he says. That’s about US$0.16.
	p In addition to inspiring local entrepreneurs with a profit motive, Mr. Mina began providing marketing tools—posters, stickers, free bottles and community education—to persuade customers. “If we try to suggest changes in people’s daily lives but they don’t see the immediate benefit, they’re not going to change,” he says. To increase the sustainability of his initiatives, Mr. Mina started working with local community leaders and local non-governmental organizations (NGOs). To expand their potential impact, he began bringing other students to observe. 
	p By 2009, Mr. Mina had begun receiving support from business sponsors in Atlanta, which is home to Emory University, and so far seven Nicaraguan communities have gained relatively cheap access to clean water using his approach. Still, he sees a long road ahead, calling his work to date only a temporary fix. It is an already worldly-wise young medical student who adds, “It might be temporary for the next 50 years. Who knows?” It is a testament to his drive that he only seems to gain motivation from his recognition of the challenges ahead.  

	h2 Collaboration is the key
	p As important as work in the field, Mr. Mina says, are lessons learned and shared. Lessons from Nicaragua have informed his other public health work and research in areas including vaccination and clean cookstoves. “There are huge lessons that can be extrapolated from small projects to scale across the world.”
	blockquote Let go of any attachments you might have to any particular idea before getting into the work
	p Among them, “The greatest lesson to be learned is to listen—and listen hard,” Mr. Mina says. “Let go of any attachments you might have to any particular idea before getting into the work. Just go and listen. Talk to community members, talk to community leaders, talk to the ministry of health and the ministry of roads.” 
	p Why is he so emphatic? “What seems absurdly clear to us at home is often quite off-base with the true needs elsewhere.” After listening, on Mr. Mina’s “to do” list, come “organize, trial, change, implement, listen more and be OK with change.” These hard-won lessons of Mr. Mina’s journey reflect his resilience, his drive and the value he places on the process of collaboration to effect change. 
	p These qualities also lie at the heart of his communications competence, a skill ranked among the top three in defining a progress maker by respondents in the Progress Makers at Work survey. In public health, communications can be paramount because of the great difficulty in changing unhealthy behaviors.
	p Enormous effort, tenacity and patience are also required. Mr. Mina has struggled to balance his work and his education, taking his books to Nicaragua to study during his first two years of medical school, tapping into student loans to keep the work going and learning by trial and error which approach matched the local context.
	p “To really make progress also takes a tremendous amount of thought—lying in bed thinking, researching and being extremely methodical about why you’re doing what you’re doing,” he says. “Otherwise you could find yourself going backward or unintentionally harming the very people you mean to help.”

	h2 Making a difference in a new millennium
	p Mr. Mina represents the growing number of millennials who are looking for broader meaning in their work, whether in school, nonprofit organizations or budding business careers. In a recent survey, two-thirds of graduating university students said they expect to make a positive social or environmental difference in the world through their work. Forty-five percent of them would even take a pay cut to do so, according to the report by Net Impact, a San Francisco-based nonprofit that advances businesses’ role in society.
	p As progress makers, they face humbling prospects. “It is an extremely small percentage of people who actually make a difference that’s measurable on a global scale,” Mr. Mina explains. “So you have to be reflective enough to know that your contribution, when combined with the contributions of many others, is actually making an impact. You have to have a real belief in what you’re doing.”
	blockquote It is an extremely small percentage of people who actually make a difference that’s measurable on a global scale
	p In contemplating his own future, Mr. Mina wistfully raises the hope of someday effecting change on a global scale—but first he has to finish medical school.
	