.abstract
	img(src="/images/img_profile-detail_n-r-narayana-murthy.jpg" alt="N.R. Narayana Murthy")
	h1 N.R. Narayana Murthy
	h2 Co-founder of Infosys Ltd.   
	p
		strong Challenge: 
		| Improving future prospects for India and its people, over half of whom lived in poverty in the 1970s. 
	p
		strong Solution: 
		| Job creation was a primary motivation for Mr. Murthy as he co-founded Infosys in 1981 and launched its global outsourcing model.  
	p
		strong Impact: 
		| The Indian IT sector now employs over 3m and has helped fuel middle-class growth amid declining poverty. 

section(class="main")
	h1 A Father of Indian IT reflects on job creation
	p Handing off a project across global time zones is now a routine part of corporate life. But 20 years ago, that kind of global cooperation was still a new idea. 
	p N.R. Narayana Murthy, co-founder and non-executive chairman of Infosys Ltd., helped make it happen, spearheading the creation of what has become a global multi-billion-dollar IT outsourcing industry.
	p Yet there was more than business at stake for Mr. Murthy. At the heart of his work was what he calls “compassionate capitalism” and the development of a global platform for job creation to alleviate poverty in India.
	p The Indian IT sector now employs over 3m, as tallied by the National Association of Software and Services Companies, and has helped fuel middle-class growth in India, amid declining poverty. Meanwhile, Mr. Murthy’s model has also spread around the world to other cities seeking economic growth—from Accra, Ghana, to Ho Chi Minh City, Vietnam, both of which are ranked as top 2014 IT outsourcing destinations by Tholons Inc., a New York-based business advisory firm.

	h2 Seeking an answer to poverty
	p Job creation is Mr. Murthy’s answer to world poverty.
	p His thinking began to take shape when he was an engineering student in the 1960s, and his country’s first prime minister, Jawaharlal Nehru, launched a campaign to build a modern India. “We were all very excited about the role of the government. That was the way forward,” Mr. Murthy says today. His thinking began to change, however, as he continued in the 1970s to explore answers to India’s immense social and economic problems, while traveling abroad, building government computer systems, reading and looking at the problem from new angles.
	p “I concluded that the only way societies can solve the problem of poverty is by creating jobs,” he says. He is not talking about subsistence jobs, though, but careers providing disposable income after covering the basics of food, shelter, healthcare and education. 
	blockquote I also realized it is not the government’s responsibility to create these jobs
	p “I also realized it is not the government’s responsibility to create these jobs,” he says. Rather, government should establish an environment where entrepreneurs have incentives to produce more jobs and more wealth in society.
	p “I decided to conduct an experiment in entrepreneurship,” he says. Over time, his experiment developed into what he calls the “Global Delivery Model,” which splits large software projects into activities that need to be done close to the customer site (20-30 percent of any project) and those that can take place offshore (70-80 percent).

	h2 A new global platform emerges
	p This outsourcing model leverages information and communication technologies that have developed over Mr. Murthy’s lifetime. It also embodies his view of globalization, which involves “sourcing capital from where it is cheapest, sourcing talent from where it is best available, producing where it is most efficient and selling where the markets are.”
	p Initially, Mr. Murthy faced challenges in developing his model, both overseas and at home. Foreign politicians railed against the perceived shifting of their countries’ jobs overseas. Some of India’s leading thinkers also criticized him, saying he should focus on developing Indian products rather than services as a basis for economic growth.
	blockquote For the first time in the history of India, we have received global acclaim
	p Ultimately, Mr. Murthy prevailed. Now, in the world of commerce, “for the first time in the history of India, we have received global acclaim,” he wrote in his 2009 book, A Better India, a Better World. “And this has been in just one field—software exports.”
	p Along the way, both business thinking and technological advances have progressed in his direction. In the EIU’s Progress Makers at Work survey, 60 percent of executives today say the business sector should lead the global community in spurring economic development. And information technology is seen by 63 percent of respondents as the area in which the most progress has been made in the last decade.

	h2 Putting compassion to work
	p Another result from the EIU’s survey may shed even more light on Mr. Murthy’s role as a progress maker. Of all of the skills that define a progress maker, the highest ranking goes to the ability to define a vision, cited by 41 percent of executives.  
	p The story of how the son of a teacher started Infosys in 1981 with about $250 is now part of Indian business lore. Infosys is today an $8.5bn corporation with more than 160,000 employees serving clients in 30 countries. Mr. Murthy has also driven the success of the award-winning Infosys Global Education Center, one of the world’s largest corporate universities with more than 100,000 graduates of its residential training program for new engineers. He has personally received numerous business and humanitarian awards, including recognition in The Economist’s 2005 list of most-admired global leaders and as India Inc.’s “Most Powerful CEO” in 2014.
	p Mr. Murthy’s vision is the product of what he calls “compassionate capitalism.” “The primary role of businesses in developing countries like India is to create more and more jobs for our youngsters, so that we can sort out the problem of poverty,” he explains. “It is also the responsibility of people like us, who have found that capitalism is a good cure for solving the problem of poverty, to be seen as decent people in society and concerned about society as a whole. So corporate social responsibility becomes very important.”
	p In rural India, for example, Infosys Foundation has built hospitals, retirement homes and 35,000 village libraries. Elsewhere, in Detroit, Michigan, the company has provided software development training for community college students. Other projects supported by the foundation include cultural initiatives, care for the destitute and crisis response. 
	blockquote Of all these, society is the most important stakeholder, because it contributes customers, employees, partners, bureaucrats and politicians
	p Mr. Murthy sees compassionate capitalism catching on. His logic reflects the growing role of social value in businesses across the globe. “I define good corporate governance as maximizing shareholder value while ensuring fairness, transparency and accountability to every one of our stakeholders: customers, employees, partners, government and society,” he says. “Of all these, society is the most important stakeholder, because it contributes customers, employees, partners, bureaucrats and politicians.”
	
