.abstract
	img(src="/images/img_profile-detail_rick-defieux.jpg" alt="Claire Fallender")
	h1 Rick Defieux
	h2 Co-founder, SJF Ventures
	p
		strong Challenge: 
		| Develop a new way of doing business that drives environmental and social impact as powerfully as profits.
	p
		strong Solution: 
		| Impact investing, which uses a “triple-bottom-line” approach, backing companies based on environmental and social returns on investment in addition to financial ROI, as it helps promising companies grow. 
	p
		strong Impact: 
		| Defieux co-leads a team that has raised hundreds of millions of dollars for companies in recycling, education, sustainable agriculture and other fields of impact.  

section(class="main")
	h1 Venture capitalist puts stock in environmental and social impact
	p Rick Defieux’s manner is all business. His business, however, is not. So his vocabulary easily mixes the vernacular of venture capital—“run rate,” “liquidity,” “waterfall”—with standards of environmental and social progress—“clean air,” “clean water,” “inclusion” and, especially, “impact.”
	p Mr. Defieux is co-founder of SJF Ventures, a pioneer in the still-emerging class of impact venture capital funds, which back companies based on environmental and social returns on investment in addition to financial ROI (known as the “triple-bottom-line approach”). A self-proclaimed “environmental guy,” Mr. Defieux had been a conventional venture capital investor for 15 years when he and Dave Kirkpatrick co-founded SJF in 1999.
	p Since then, SJF has taken this triple-bottom-line approach to investing in 44 growth-stage companies. The 23 companies it currently holds in its portfolio have combined revenues of over $1.25bn in such fields as recycling, education and sustainable agriculture. The firm’s most recent fund was oversubscribed, raising $90m from banks and other financial services companies, foundations and individuals.
	p Portfolio companies include eRecyclingCorps, an Irving, Texas, company that restores and recycles used mobile devices; Think Through Learning Inc., a Pittsburgh, Pennsylvania, educational technology company; and Aseptia Inc., a sustainable food processor in Troy and Durham, North Carolina. These and other companies are chosen for the potential strategic impact of their business plan (e.g., a new cleantech model), for potential operational impact (e.g., the creation of quality jobs in distressed communities) and for financial promise.

	h2 Shaping businesses into change agents
	p SJF is growing at a time when progress makers around the world are putting powerful new business models to work that both build their enterprise and benefit more communities.
	p Notably, the business sector is seen as driving future environmental progress by more than one in five executives in the Progress Makers at Work survey. One in three survey respondents see investors and shareholders driving overall progress in industry. To bring about such change, technical skills in such areas as finance are most highly valued by almost as many respondents. 
	p That’s where Mr. Defieux comes in. He and his colleagues work very closely with the CEOs in SJF’s portfolio of growth-stage companies, often serving as board members as well. They bring in financial and industry expertise—with a particular focus on information technology as a driver of growth and change. They then engage expert networks and introduce major customers, employees and additional investors. As Mr. Defieux says, “To be an effective impact investor, first of all, you have to be a good investor.” 
	p In addition, the firm advises on environmental and social strategies—for example, providing perspective on green innovation. It also advocates health coverage and benefit enhancements that can deepen employees’ sense of engagement in the company through broad-based stock option plans.
	p Naysayers might see environmental and social considerations as a constraint on a business, lowering its chances of success, but SJF sees the opposite. “In most cases, focusing on this kind of impact actually helps our portfolio companies’ business,” Mr. Defieux says.
	p SJF’s 2008 investment in CleanScapes Inc., a sustainable waste management company in Seattle, Washington, provides a case in point. CleanScapes was credited with pioneering environmental and civic strategies to clean up urban neighborhoods. In 2010, it was named the fastest-growing company in Washington by the local Puget Sound Business Journal, which cited an 818 percent increase in revenue between 2007 and 2009 (to $38.6m). SJF exited its position in CleanScapes in 2011, realizing what it called a strong return for its investors, when CleanScapes was acquired by a larger company with similar values.
	p From the ability to hire “the best and the brightest” to keeping those employees engaged and effective, the benefits to a company of “doing well by doing good” come full circle to this simple fact: a lot of investors today would like to see their money aligned with broader environmental or social benefits—just so long as they also make a return.
	p SJF routinely issues impact statistics on such benefits to its investors. For instance, 10m used cell phones were restored and recycled by eRecyclingCorps in 2013 alone. That is a measure not only of e-waste diverted from landfills, Mr. Defieux points out, but of lives improved in countries around the world, as some of these more affordable devices make their way to poor communities. By one estimate, a 10 percent increase in cell-phone penetration can add 1 percent to a country’s GDP.
	p And, in strictly financial terms, SJF reports that its second of three funds has been ranked in the top quartile of all US venture capital funds for the year it was formed, as tracked by investment firm Cambridge Associates.

	h2 Filling the future pipeline for progress
	p SJF is also helping to fill the pipeline for both future impact investments and next-generation impact investors.
	p The firm manages the Investors’ Circle of over 150 angel investors, venture capitalists, foundations and individuals involved in funding early-stage social enterprises. In its day-to-day work, the SJF team became frustrated with investing in only a few growth-stage companies per year despite seeing thousands of early-stage investment opportunities. The Investors’ Circle helps these fledgling companies with technical assistance as well as providing a marketplace.
	p As for mentoring new impact investors, Mr. Defieux says, “What we set out to do from the start was create a setting for people who have the same drive.” Now, working between bucolic New Hope, Pennsylvania, and bustling New York City, with colleagues in Durham, North Carolina, and San Francisco, he is helping bring younger investors into the field he helped create.
	p In the generation of millennials, in particular, Mr. Defieux says the desire for broader meaning in work is far more common today than when he started out in business. “The problems that younger people are witnessing are not best dealt with by governments,” he says. “For one thing, they cross borders, and in matters such as the environment, the cooperation is just not there.”
	p The end result is that more and more people are looking to companies to solve these problems with new technologies and business models. “To me, that translates into making solutions more effective,” he says. “We are seeing that motivated individuals and creative business models can be agents for change.” Looking ahead, Mr. Defieux adds, “There’s a shocking amount of runway left.”
