extends layout


block content

	div(class="content assessment-tool")
		h1 Benchmarking Tool
		div(class="assessment")
			div(id="timeline" class="timeline")
				div(class="timeline-container")
					div(class="timeline-progress")
					div(class="timeline-position")
					div(class="timeline-parts")

			div(class="view-container")
				ul(class="parts")
					li(class="part demographic")
						h1 Part 1: Demographic Informations
						ul(class="tasks")
							li(class="demographic-map")
								h1 In which country are you personally based in?
								ul( class="questions")

							li
								h1 Which of the following describes your title?
								ul( class="questions")

							li
								h1 What is your primary industry?
								ul( class="questions")



					li(class="part industry")
						h1 Part 2: Understanding of Progress within an Industry?
						div(class="view-container")
							ul(class="tasks")
								li(class="inline-display")
									h1 How strong would you say your organization is at
									//p Please select responses on a scale from ‘Very strong’ to ‘Very weak’
									ul(class="questions end-sentence")

										
								li(class="inline-display")
									h1 When was your organization’s strategy for talent development most recently updated?
									p Please select one
									ul(class="questions")


								li(class="inline-display")
									h1 How does your organization attract progress makers?
									p Please select three
									ul(class="questions")


								li(class="inline-display")
									h1 As a decision-maker, what do you think are the most important elements your organization can provide progress makers to succeed?
									p Please select three
									ul(class="questions")


				div(class="pager")
					span.text Swipe or press
					button(class="btn action next")
						span Next
					button(class="btn action previous")
						span Previous


	div(id="templates")

		div(class="QaBreaker")
			h1(class="title") Breaker Title
			p(class="description") Breaker Body

		div(class="QaList")
			ul


		div(class="QaDropdown")
			button(class="dropdown-btn")
				span Null Value
				i(class="fa fa-caret-down")
			div(class="QaDropdown-inner")
				div(class="scrollbar")
					div(class="handle")
				ul(class="items")



		div(class="QaSlider view-container")
			h1(class="title") Title
			div(class="input")
				div(class="rail")
				div(class="handle")
				ul

		div(class="QaCountryCombo")
			button(class="dropdown-btn")
				|Select Country
				i(class="fa fa-caret-down")
			ul(class="countries")
			ul(class="az")


		div(class="QaCountryAccordion")
			h1(class="title") Accordion Title
			p(class="description") Accordion Body

	script(src='/javascripts/assessment.js')
	script(src='/javascripts/controllers.js')
	script(src='/javascripts/config.js')
	