extends layout

block content

	div.content.pm-profile
		div.intro
			h1 Your Results

		div.progress-makers-detail
				
			div.body-left.no-padding.results
				section.tabs
					header
						ul
							li
								a(href="#overview") Overall Score
							li
								a(href="#breakdown") Benchmarked Answers

					div.tab-content(data-href="#overview")
						//h1 Thanks for taking the Assessment Tool
						//h2 Here are your overview result, for more infos about your profile just click on the highlighted column.
						.result-outcome
							h2=type.title
							ul!=type.description
							p.link-text!=type.linkText
						
						.bar-chart.chart-1
							.squiggle
							ul#vAxis

							ul#bars

						#chart-legend-you
							ul
								li
									span.legend-marker
								li You
								li The chart above reflects normalized values of the differences in the scoring, in order to allow for an expanding number of respondents. It is only intended to give a sense of the proportion of respondents that match your overall score.

						div.btn
							span.view-breakdown Compare your organization >
					div.tab-content(data-href="#breakdown")
						.progress-bar
							.indicator-bar
							.indicator-bar-parts
								.one(data-id="1")
								.two(data-id="2")
								.three(data-id="3")
								.four(data-id="4")
								.five(data-id="5")
								.six(data-id="6")
						div.slides
							div.slide.slide-chart-2(data-slide-id="1")
								h1 Which of the following describes your title?
								.legend-cols.cols-2
									ul
								.chart-wrapper
									.donut-chart#chart-2
								.your-answer

								div.btn
									span.next-slide Next result >
							.clear
							div.slide.slide-chart-3(data-slide-id="2")
								h1 What is your primary industry?
								.legend-cols.cols-2
									ul
								.chart-wrapper
									.donut-chart#chart-3
								.your-answer

								div.btn.left
									span.prev-slide < Previous result
								div.btn
									span.next-slide Next result >
							.clear

							div.slide.slide-chart-4(data-slide-id="3")
								h1 To what extent do you agree or disagree with the following statements?
								.results-page-matrix
									ul
										li
											ul.header
												li.no-border
													span &nbsp;
												li
													ul
														li
															span Strongly agree
														li
															span Somewhat agree
														li
															span Neither agree nor disagree
														li
															span Somewhat disagree
														li
															span Strongly disagree

								#chart-legend-you
									ul
										li
											span.legend-marker
										li You
										li The chart above compares your answers to other respondents, including the survey panel. The percentage(s) represent the portion of respondents that chose that answer.

								div.btn
									span.next-slide Next result >
								div.btn.left
									span.prev-slide < Previous result
							div.slide.slide-chart-5(data-slide-id="4")
								h1 When was your organization’s strategy for talent development most recently updated?
								p.your-selection You have selected one
								.legend-cols.cols-2
									ul
								.chart-wrapper
									.donut-chart#chart-5
								.your-answer

								div.btn.left
									span.prev-slide < Previous result
								div.btn
									span.next-slide Next result >
							.clear

							div.slide.slide-chart-6(data-slide-id="5")
								h1 How does your organization attract progress makers?
								p.your-selection You have selected three
								.legend-cols.cols-2
									ul
								.chart-wrapper
									.donut-chart#chart-6
								.your-answer.multi

								div.btn.left
									span.prev-slide < Previous result
								div.btn
									span.next-slide Next result >
							.clear
							div.slide.slide-chart-7(data-slide-id="6")
								h1 As a decision-maker, what do you think are the most important elements your organization can provide progress makers to succeed?
								p.your-selection You have selected three
								.legend-cols.cols-2
									ul
								.chart-wrapper
									.donut-chart#chart-7
								.your-answer.multi

								div.btn.left
									span.prev-slide < Previous result
							.clear

			div.body-right
				h2 Progress Maker Profiles
				each related in relatedProfiles
					div(class="item")
						a(href="/progress-makers/#{related.linkUrl}" title="#{related.name}")
							img(src="/images/#{related.imgUrl}" alt="#{related.name}")
						header
							h2 #{related.name}
							h3 #{related.industry}
						p #{related.description}
						a(class="btn action" href="/progress-makers/#{related.linkUrl}" title="#{related.name}")
							span Read more &#62;




	script(src='https://www.google.com/jsapi')
	script(src='/javascripts/results.js')

