extends layout

block content
	div(class="content home")
		div(class="intro")

			H1
				| Progress Makers at Work
			p
				| A growing number of companies recognize the power of progress makers to help them drive performance in an era of continuous innovation and global business transformation. Do you work at one of them?
			p
				| A new global study conducted by The Economist Intelligence Unit (EIU), in partnership with Citi, sheds light on this trend and the role progress makers play in shaping progress across industries and around the world. 


		div(class="featured")
			ul
				li
					a(href="/progress-makers/")
						header
							H2 Who Are the Progress Makers?
						img(src="/images/img_home_progress-makers.jpg" alt="Progress Makers")
						P Progress makers are innovative leaders who seek prosperity for their businesses and communities. Explore the profiles of 7 change agents here.  
						button(class="btn action")
							span View the profiles &#62;
							
				li
					a(href="/progress-makers-report/")
						header
							H2 Get Insights from the Report
						img(src="/images/img_home_progress-makers-report.jpg" alt="Progress Makers Report")
						P 57% of executives say their organization updated its talent strategy within the past 2 years. What can you do to support progress makers and benefit from them? 
						button(class="btn action")
							span Download the report &#62;
							
				li.last
					a(href="/benchmarking-tool/")
						header
							H2 Progress and You
						img(src="/images/img_home_assessment-tool.jpg" alt="Assessment Tool")
						P Use our benchmarking tool to compare your company's profile to the 1000+ organizations that the EIU surveyed.
						button(class="btn action")
							span Assess your organization &#62;
							
