doctype html

html(lang="en")
	head
		title= title
		meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes")

		if meta
			each val, key in meta
				meta(property=key name=key content=val)
		
		link(rel="stylesheet", href="/stylesheets/font-awesome.min.css")
		link(rel="stylesheet", href="/stylesheets/style.css")
		script(src="/javascripts/libs/jquery-1.11.0.min.js")
		script(src="/javascripts/libs/modernizr-2.6.2-respond-1.1.0.min.js")
		script(src="/javascripts/libs/lodash.js")
		script(src="/javascripts/libs/hammer.min.js")
		script(src="/javascripts/libs/jquery.hammer.min.js")
		script(src="/javascripts/libs/velocity.min.js")
		script(src="/javascripts/libs/masonry.pkgd.min.js")
		script(src="/javascripts/libs/general.js")
		//script(src="http://airve.github.io/js/response/response.min.js")


		<!--[if IE]>
		script(type="text/javascript").
			$(document).ready(function(){ $('body').addClass('ie'); });
		<![endif]-->
		<!--[if IE 8]>
		script(type="text/javascript").
			$(document).ready(function(){ $('body').addClass('ie8'); });
		<![endif]-->
		
	body
		div(class="wrapper")
			include includes/navigation
			block content
			include includes/footer
			div(class="rotate-device")
				span
					i(class="fa fa-repeat")
					br 
					| Rotate your device to enjoy the experience
