extends layout

block content
	div(class="content pm-profile progress-makers-report")
		div(class="intro")
			h1 Progress Makers at Work Report

		div(class="progress-makers-detail")
				
			div(class="body-left")

				section(class="main report-content")
					h2 Progress Makers at Work: Building Corporate Cultures of Progress
					h3 A report by The Economist Intelligence Unit
					p In today’s era of hyper-innovation and relentless competition, businesses around the world need to attract, engage and nurture individuals that embody a highly valued profile: the progress maker. Today this new breed of change agents has the capabilities to bring to their jobs a heightened global awareness, unprecedented digital empowerment and, increasingly, an innate motivation to do meaningful work with significant impact—both within their own organizations and in society at large. In growing numbers, they are ushering in a global culture of progress making them central to core business strategy at forward-thinking companies.
					blockquote Companies should cultivate an attitude of studying the emerging future, rather than studying the past.
					p A new global study conducted by The Economist Intelligence Unit (EIU), in partnership with Citi, sheds light on this business trend and the role progress makers play in shaping its trajectory across industries and around the world. In January 2014, we surveyed 1,315 executives from organizations in a dozen industrial sectors worldwide about progress makers and organizational attitudes toward these key individuals. Twenty-five in-depth interviews were also conducted with experts, corporate decision makers and notable change agents in every world region.
					blockquote This is a time of incredible, accelerating change.
					p The study shows that executives value progress makers as exceptionally strong contributors to organizational performance in a fast-changing digital, global and urban world. Companies are also being encouraged by customers, employees, investors and other stakeholders to incorporate progress makers’ increasingly integral social values into their corporate cultures. The growing influence of women and a new generation of millennials is also heightening this demand and making it a higher priority than ever for recruitment.
					p “Companies should cultivate an attitude of studying the emerging future, rather than studying the past,” says Ben Powell, CEO of Agora Partnerships, an investment firm that supports socially responsible businesses in emerging markets. “This is a time of incredible, accelerating change.”
					
					div(class="download-report")
						a(class="btn" href="#")
							span Download the report &#62;

				div(class="clearfix")
				
				div(class="link")
					a(href="/benchmarking-tool/")
						div(class="link-header")
							h2 Which Progress Maker Are You?
							div(class="link-header-triangle")

						div(class="main-content")
							p
								| Use our benchmarking tool to compare your profile and your company’s to the 1000+ senior executives, organizations and industries that the EIU surveyed
						div(class="btn quicklink") 
							span Try the Benchmarking Tool &#62;	

			div(class="body-right")
				h2 Related Profiles

				each related in relatedProfiles
					div(class="item")
						a(href="/progress-makers/#{related.linkUrl}" title="#{related.name}")
							img(src="/images/#{related.imgUrl}" alt="#{related.name}")
						header
							h2 #{related.name}
							h3 #{related.industry}
						p #{related.description}
						a(class="btn action" href="/progress-makers/#{related.linkUrl}" title="#{related.name}")
							span Read more &#62;

				