extends layout

block content
	div(class="content pm-profile")
		div(class="intro")
			h1 Progress Maker Profile
		div(class="progress-makers-detail")
				
			div(class="body-left")

				!= renderTemplate( maker.linkUrl )

				div(class="clearfix")
				
				div(class="link")
					a(href="/benchmarking-tool/")
						div(class="link-header")
							h2 Which Progress Maker Are You?
							div(class="link-header-triangle")

						div(class="main-content")
							p
								| Use our benchmarking tool to compare your profile and your company’s to the 1000+ senior executives, organizations and industries that the EIU surveyed
						div(class="btn quicklink") 
							span Try the Benchmarking Tool &#62;	

			div(class="body-right")
				h2 Related Profiles

				each related in relatedProfiles
					div(class="item")
						a(href="./#{related.linkUrl}" title="#{related.name}")
							img(src="/images/#{related.imgUrl}" alt="#{related.name}")
						header
							h2 #{related.name}
							h3 #{related.industry}
						p #{related.description}
						a(class="btn action" href="./#{related.linkUrl}" title="#{related.name}")
							span Read more &#62;

				

