extends layout

block content
	div(class="content progress-makers")
		div(class="intro")
			h1 Who Are the Progress Makers?
			p Explore the profiles of leading progress makers and learn what drives them to create positive change in their organizations.

		div(id="profile-list-container")
			each maker in makers
				div(class="item")
					a(href="./#{maker.linkUrl}" title="#{maker.name}") 
				
						img(src="/images/#{maker.imgUrl}" alt="#{maker.name}")
						header
							h2= maker.name
							h3= maker.industry

						p= maker.description
						//p  !{maker.body}
						button(class="btn" href="./#{maker.linkUrl}" title="#{maker.name}") 
							span Read more &#62;


			div(class="item link")
				a(href="/benchmarking-tool/")
					div(class="link-header")
						h2 Which Progress Maker Are You?
						div(class="link-header-triangle")

					div(class="main-content")
						p
							| Use our benchmarking tool to compare your profile and your company’s to the 1000+ senior executives, organizations and industries that the EIU surveyed. 


					div(class="btn quicklink") 
							span Try the Benchmarking Tool &#62;

	script(src='/javascripts/progress-makers.js')
	