@media only screen and ( min-width: 769px ) 
	.header
		.navigation
			li
				a:hover
					background-color blue
	.content.home .featured
		ul
			li
				p
					height 110px

	.content.progress-makers
		
		#profile-list-container
			padding 0 3%

			.item
				padding 1%
				width 31.33333%
				margin-right 2%
				margin-bottom 2%

				box-shadow( 0px 1px 8px 2px rgba(0,0,0,0.2) )

				p 
					height 110px

			.link
				width 64.66666%


	.content
		.link
			padding 0 !important

			.main-content
				width 100%
				float left
			p
				max-width 400px
				font-size 18px
				font-size 1.8rem
				clear both

	.btn.over, .social-links .social-btn.over
		background-color blue
	.btn.previous.over
		background-color function-grey
		
	.legend-cols
		&.cols-2
			ul
				li
					width 50%
	/*p
		border none



	//

	body
		font-size 13px
		font-size 13rem
		font-family Arial, sans-serif
		color #97989a

	a
		color light-blue


		
		//////////// Header Menu ////////////
		
		.header .banner strong
			display none

	

		nav.navigation
			height 0px
			box-shadow 0px 4px 15px 0px
			float left
			opacity 0
			transition all 0.5s ease

		nav.navigation.open-menu
			height auto
			opacity 1
			z-index 5000
			overflow hidden
			//transition all 0.5s ease
			//animation open 0.2s forwards ease-in-out


		@keyframes open
			from
				height 0px
			to
				height 184px

		nav.navigation ul li
			border-right none
			float left
			width 100%

		nav.navigation ul li a
			border-bottom 1px solid #fff
			padding 15px 2%
			text-align center
			width 96%
			
		nav.navigation ul li a:hover
			color #02beeb
			background-color #fff

		div.content
			margin 1%

		footer
			width 98%
			padding-left 1%
			padding-right 1%


		//////////// Home Page ////////////
		
		.content.home .featured 
			margin 0
			width 100%

		.content.home .featured ul li
			margin-right 0
			margin-bottom 20px
			width 100%

		.content pm-profile
			abstract
				img 
					width 100%

		//////////// Progress Makers ////////////	

		div.body-left
			width 100%
			border none
			padding 0
			margin 0

		div.body-right
			border-top 1px dotted #010101
			width 100%

		#profile-list-container
			width 100%
			margin-left 0

		.item, .item.link
			width 98%
			margin-left 1%
			margin-right 0


		//////////// Progress Maker Report ////////////
		
		.pm-report-detail-body
			margin 0%
			width 95.6%

		.related-container
			width 100%

		//////////// Assessment Tool ////////////

		.content.assessment-tool .parts .tasks li.QaList ul li, .content.assessment-tool .QaList ul li
			width 100%

		.questions .QaList ul li
			padding 5px 0

		div.content.mobile .QaDropdown .QaDropdown-inner 
			width 100%

		div.content.mobile .QaDropdown .dropdown-btn
			padding 10px 0
			width 100%


		div.content.mobile .QaDropdown .dropdown-btn i
			line-height 1.5em;
			right -1px

		div.content.mobile .QaDropdown-inner ul.items
			padding 1%
			width 98%
		
		div.content.mobile .QaDropdown-inner ul.items li
			padding 2%
			width 96%

		.timeline-container
			width 96%


		.demographic-map
			background-size 100%

		// QA SLIDERS //

		.assessment-tool .QaSlider .input .rail
			top 20px

		.assessment-tool .QaSlider .input .handle
			border solid 5px #12a2cd
			width 50px
			height 50px
			top -5px
			margin-left -5px

		.assessment-tool .QaSlider .input>ul>li
			height 50px
			width 50px
			line-height 50px

		.assessment-tool .QaSlider .input>ul>li>span
			font-size 9px

*/