@font-face 
	font-family 'interstate-bold'
	src url('./fonts/interstate-bold.eot')
	src url('./fonts/interstate-bold.eot?#iefix') format('embedded-opentype'),
		url('./fonts/interstate-bold.woff') format('woff'),
		url('./fonts/interstate-bold.ttf') format('truetype'),
		url('./fonts/interstate-bold.svg#open_sansbold') format('svg')
	font-weight normal
	font-style normal

@font-face 
	font-family 'interstate-regular'
	src url('./fonts/interstate-regular-webfont.eot')
	src url('./fonts/interstate-regular-webfont.eot?#iefix') format('embedded-opentype'),
		url('./fonts/interstate-regular-webfont.woff') format('woff'),
		url('./fonts/interstate-regular-webfont.ttf') format('truetype'),
		url('./fonts/interstate-regular-webfont.svg#open_sansbold') format('svg')
	font-weight normal
	font-style normal



@font-face 
	font-family 'InterstateLight'
	src url('./fonts/InterstateLight.eot')
	src url('./fonts/InterstateLight.eot?#iefix') format('embedded-opentype'),
		url('./fonts/InterstateLight.woff') format('woff'),
		url('./fonts/InterstateLight.ttf') format('truetype'),
		url('./fonts/InterstateLight.svg#open_sansbold') format('svg')
	font-weight normal
	font-style normal

@font-face 
	font-family 'Interstate_exLight'
	src url('./fonts/Interstate_exLight.eot')
	src url('./fonts/Interstate_exLight.eot?#iefix') format('embedded-opentype'),
		url('./fonts/Interstate_exLight.woff') format('woff'),
		url('./fonts/Interstate_exLight.ttf') format('truetype'),
		url('./fonts/Interstate_exLight.svg#open_sansbold') format('svg')
	font-weight normal
	font-style normal

font-brand-extra-light="Interstate_exLight", Helvetica, Arial, sans-serif
font-brand-light="InterstateLight", Helvetica, Arial, sans-serif
font-brand-regular = 'interstate-regular', Helvetica, Arial, sans-serif
font-body=Helvetica, Arial, sans-serif
