
box-shadow(args...)
	-webkit-box-shadow args
	-moz-box-shadow args
	box-shadow args


text-shadow(args...)
	-webkit-text-shadow args
	-moz-text-shadow args
	text-shadow args

border-radius()
	-webkit-border-radius arguments
	-moz-border-radius arguments
	border-radius arguments

transform(args...)
	-webkit-transform args
	-moz-transform args
	transform args

transition()
	-webkit-transition arguments
	-moz-transition arguments
	transition arguments

box-sizing(b)
	-webkit-box-sizing b
	-moz-box-sizing b
	box-sizing b

animation(args...)
	-webkit-animation args
	-moz-animation args
	animation args

clearfix()
	zoom 1
	&:after
	&:before
		content ""
    	display table
	&:after
		clear both