.ie8 // IE8 STYLING

	// Homepage
	.content .featured ul li
		margin-right 2%
		width 32%
		&.last
			margin-right 0


	// Profile maker details
	.content.pm-profile
		.progress-makers-detail
			.body-left
				.abstract
					img
						width 35%
						float left
						margin 0px 20px 8px 0px

					h1
						//border-bottom 1px dotted dark-blue
						float left
						margin-bottom 10px
						margin-top 0px
						min-width 60%

					h1,h2,p
						padding-left 0
						padding-right 0
						
					h2 
						border-bottom 1px dotted dark-blue
						margin-bottom 50px
						padding-bottom 10px

					p
						padding-left 0
						padding-right 0

	// Asessment tool
	.QaDropdown
		.dropdown-btn
			i
				font-size 17px
		.QaDropdown-inner
			border solid 1px light-grey
			border-top none
	
	.assessment-tool .QaSlider .input .rail
		border solid 1px light-grey
	.assessment-tool .QaSlider .input>ul>li>span
		word-wrap break-word
		max-width 66px