//GENERIC STYLES
body
	font-family font-body
	font-size 16px
	font-size 1.6rem
	

a
	color light-blue

::-webkit-input-placeholder
	color dark-grey

:-moz-placeholder
	color dark-grey


::-moz-placeholdercolor 
	color dark-grey

:-ms-input-placeholder
	color dark-grey


.clearfix
	clearfix()
	clear both


.wrapper
	float initial
	margin 0 auto
	max-width 980px
	width 100%
	overflow hidden

.btn
	font-family font-brand-light
	background-color light-blue
	color white
	vertical-align middle

	font-size 14px
	font-size 1.4rem

	line-height 16px
	line-height 1.6rem
	&.previous
		background-color light-grey
		color dark-grey

	span
		position relative
		display inline-block
		padding 3px 20px 
		margin 0px
		vertical-align middle
		float left

	i
		position relative
		display inline-block
		float right
		padding 5px
		//background url('/images/icon-action.png') no-repeat center #07A2D1

a
	cursor pointer

p
	line-height 1.2

.header
	position relative
	width 100%
	height auto
	display block
	float left
	
	.top_bar
		background url('/images/background-header-top-bar.png') #000 repeat-x
		height 24px

		>a
			color white
			margin: 6px 5%
			font-size 10px
			font-weight bold
			text-decoration none
			text-transform uppercase

		.ul_top_nav_link
			float right
			margin-top 2px
			margin-right 5%

			li:first-child:after
				content:"|";
				color #666666
				font-size 10px
				margin 0 10px

			li
				float left

				a
					color #fff
					font-size 10px
					font-weight bold
					text-decoration none
					text-transform uppercase


	.banner
		display table
		table-layout fixed
		width 100%
		background url('/images/background-header-alt.png') #168BC4 repeat-x
		padding: 20px 5% 

		>*
			position initial
			float initial
			display table-cell
			color white
			vertical-align bottom
			

		.logo
			text-align left
			

	 	.title
			font-weight normal
			text-align center
			font-family font-brand-extra-light
			font-size 18px
			font-size 2.3rem
			display none

		.mobile-menu
			text-align right

			.btn-mobile-menu
				background-color transparent//#02beeb
				text-align center
				transition all 0.5s ease

				i
					color white
					font-size 20px

					line-height 20px
					text-shadow 1px 1px 5px #005266

			.btn-mobile-menu.open
				opacity 0.6
			 	i
					text-shadow none

		.navigation
			float left
			font-weight 400
			color white
			width 100%
			background-color light-blue
			display block
			height 0
			letter-spacing 0.8px
			overflow hidden
			transition height 0.5s ease

			li
				
				display block
				border-top 1px solid white
				text-align center


				a
					color inherit
					padding 7px 18px
					text-align center
					text-decoration none

				a:hover
					text-decoration none
					

			li:last-child
				border-bottom 1px solid white

		.navigation.open
			height 125px
			//display block

.content
	position relative
	float left
	width 100%

	.intro
		position relative
		padding 4%
		color white

		h1
		h2
			font-family font-brand-extra-light
			color white
			font-weight 100
			
		h1
			margin 0px 0px 30px 0px
			font-size 35px
			font-size 3.5rem
			text-shadow( 0px 0px 2px rgba(150, 150, 150, 1) )


		p
			font-family font-body
			font-weight 100
			font-size 1.4rem
			max-width 450px
			text-shadow( 0px 0px 2px rgba(150, 150, 150, 1) )
			margin-bottom 10px

	.item
		float left
		background white
		//border 1px solid #eee
		//border-radius 2px
		width 100%
		color grey
		margin-bottom 30px
		box-shadow( 0px -4px 6px 0px rgba(0,0,0,0.2) )


		img
			width 100%

		.btn
			position relative
			display block
			float right
			margin-top 10px
			clear both

		header,p
			margin 3%

		p
			font-weight 100
			margin-top 10px
			float left
			color grey

		header
			width 100%
			position relative
			float left
			font-family font-body
			color dark-blue
			margin-top 20px


			h2
				font-size 24px
				font-size 2.4rem
				font-weight 400
				
			h3
				margin-top 6px
				color #253b75
				font-size 16px
				font-size 1.6rem
				font-weight 400

		.linkto
			margin-bottom 10px
			float left

			

	.featured
		
			position relative
			display inline-block
			width 100%
			margin-top 20px

			ul
				width 100%
				float left
			
				li
					width 100%
					position relative
					float left
					//text-align center
					cursor pointer
					margin-bottom 30px

					a
						text-decoration none
						color #999999

					&.last
						margin-right 0

				header
					width 100%
					position relative
					float left
					background-color dark-blue
					text-align center
					color white
					padding 10px

					h2
						//#19beeb
						
						padding 0
						margin 0		
						font-size 18px
						font-size 1.8rem
						font-weight 200
						font-family font-brand-regular
						text-align left

				img
					width 100%
					height auto
					background-color grey
					padding 0px
					border none
					margin 0px
					display inline-block

				p
					max-height 150px
					padding 10px 2% 20px

		.btn
			float right;
			margin 0

	.link
		
		>a,>a:hover,>a:visited
			display block
			with 100%
			text-decoration none
		
		background light-grey url('../images/bg-boys-big.png') no-repeat right bottom
		width 100%
		top 0px
		display inline-block
		position relative

		p
			color grey
			font-size 20px

		.link-header
			background-color dark-blue
			width 100%
			position relative
			top 0
			left 0

			h2
				font-family "interstateLight", Arial, Helvetica, sans-serif
				color white
				font-size 24px
				font-weight 200
				padding 0.75em 20px

			.link-header-triangle
				width 0px
				height 0px
				border-style solid
				border-width 0 45px 40px 0
				border-color transparent dark-blue transparent transparent
				position absolute
				left 6%

		.main-content
				position relative
				top 0px
				left 0
				padding 45px 3% 10px 

		.quicklink
			position relative
			float right
			padding 8px 5px
			margin 3%


		

.content.home
	background-image url( '/images/background-home.jpg')
	background-repeat no-repeat


.content.progress-makers
	.intro 
		h1,p
			color dark-blue
			text-shadow( none )

		h1
			font-family font-brand-extra-light
			margin-top 0


	>p 
		max-width 400px

	#profile-list-container
		width 100%
		position relative
		display inline-block
		float left
		margin-top 10px




.content.progress-makers-report
	.progress-makers-detail
		.body-left
			.main.report-content
				h2
					font-size 2rem
					font-weight 600

				h3
					color #253a79
					font-size 1.8rem
					font-weight 200

	.download-report
		text-align center
		margin 30px 0
		width 100%

		.btn
			float none



.content.pm-profile
	.intro
		padding-bottom 0

		h1
			color dark-blue
			margin-top 0
			text-shadow(none)

	.progress-makers-detail
		width 100%
		position relative
		display block
		float left
		color grey
		font-weight 200

		.body-left
			width 100%
			float left
			position relative

			p
				margin 10px 0px

			.abstract 
				width 100%

				img
					width 100%
					display inline-block

				p
					padding 10px 3%

					strong
						color dark-blue
						font-weight inherit

				h1,h2
					color dark-blue
					padding 0 3%

				h1
					margin-top 20px
					font-size 20px
					font-size 2.0rem
					font-weight 600

				h2
					margin-top 5px
					font-size 18px
					font-size 1.8rem
					font-weight 200
					border-bottom: 1px dotted
					padding-bottom: 20px
					display table
					margin-bottom 20px

			.main
				padding 0 3%
				margin-bottom 20px

				h1,h2
					margin 30px 0px 10px 0px
					font-size inherit
					color dark-blue
					font-weight 600

			blockquote
				font-size 20px
				font-size 2.0rem
				float left
				margin 20px 15%
				padding 5% 0
				width 80%
				position relative
				color light-blue
				font-family font-brand-extra-light

			blockquote:before
				color #ccc
				content url('/images/quote_mark_1.png') no-repeat
				position absolute
				top 0px
				left -45px
				z-index -1

			blockquote:after
				color #ccc
				content url('/images/quote_mark_2.png') no-repeat
				position absolute
				bottom -15px
				right 0
				z-index -1


		.body-right
			width 100%
			float left

			>h2
				color dark-blue
				font-size 20px
				font-size 2.0rem
				margin 30px 3% 10px
				font-weight 200


.social-links
	background-color: white
	border-radius 12px 0 0 12px
	z-index 100
	position absolute
	right 0px
	bottom -40px
	overflow hidden
	width 36px
	transition width 0.5s ease

	.social-links-inner
		width 220px

	.social-btn
		background-color light-blue
		border-radius 10px 0px 0px 10px
		color #fff
		cursor pointer
		float left
		height 32px
		font-size 21px
		margin-right 2px
		padding 0px 9px

	.social-btn i
		line-height 32px

.social-links.open
	width 220px


footer 
	width 100%
	display inline-block
	border-top 2px solid #cdcdcb
	margin-top 20px
	color grey
	font-weight 400
	padding 0px 2%
	float left

	>*
		position relative
		display block
		float left
		text-align left
		vertical-align top
		width 100%
		margin-top 10px

	.policy
		a
			text-decoration underline
			color grey

	.partner
		span
			text-align right
			display block
		ul
			float right
			margin-top 10px

			li
				float left
				display inline-block
				position relative
				margin-right 8px

.rotate-device
	background-color white
	color #09bfea
	font-size 2em
	position fixed
	height 100%
	width 100%
	top 0%
	left 0%
	text-align center
	text-transform uppercase
	z-index 5000
	display none

	span
		opacity 0.7
		position absolute
		top 50%
		left 50%
		transform translate(-50%, -50%)

		i
			font-size 4rem

.no-padding
	padding 0 !important
	padding-bottom 4% !important
.tabs
	header
		ul
			width 100%
			display table
			li
				display table-cell
				width 50%
				background light-grey
				a
					font-size 16px
					font-weight bold
					display block
					opacity .3
					color dark-blue
					text-decoration none
					padding 15px 8%
				&.active
					background #fff
					a
						opacity 1
						color dark-blue
	
	.tab-content
		display none
		padding 20px 4%
		.progress-bar
			background-color #ccc
			height 10px
			width 100%
			position relative
			-webkit-border-radius 0px
			-moz-border-radius 0px
			border-radius 0px
			overflow hidden
			margin 43px auto
			.indicator-bar
				background-color light-blue
				height 100%
				width 0%
				position absolute
				top 0
			.indicator-bar-parts
				height 100%
				width 100%
				position absolute
				top 0
				div
					background-color white
					cursor pointer
					height 10px
					width 5px
					display block
					cursor pointer
					position absolute
					top 0
					left 0%
					-webkit-transform translate(-50%, 0%)
					-moz-transform translate(-50%, 0%)
					transform translate(-50%, 0%)
					z-index 3
					&.two
						left 20%
					&.three
						left 40%
					&.four
						left 60%
					&.five
						left 80%
					&.six
						left 100%
.results
	h1
		color dark-blue
		font-size 17px
		margin-bottom 8px
		
	h2
		color dark-blue
		font-size 12px
		margin-bottom 20px
	p
		font-size 1.6rem
		&.your-selection
			color dark-blue
	.btn
		&.left
			float left
	.result-outcome
		margin-bottom 50px
		h2
			color light-blue
			font-size 2.6rem
			margin 30px 0px 30px
			text-align center
		p
			&.link-text
				margin 30px 0 !important
		ul
			list-style-type disc
			padding-left 20px	
			li
				font-size 1.6rem
				margin-bottom 10px
				line-height 1.5

.bar-chart
	position relative
	height 340px
	.squiggle
		background-image url('../images/squiggle.jpg')
		background-repeat no-repeat
		height 24px
		width 21px
		margin-bottom 18px
		position absolute
		bottom 0%
		left -8px
		z-index 20
		
	#vAxis
		border-left 1px solid function-grey
		width 5%
		height 100%
		margin 0
		padding 0
		display inline-block
		position relative
		z-index 1
		li
			text-align right
			padding-right 1em
			list-style none
			height 20%
			position relative
			bottom 30px
			
			&:after
				position absolute
				content " "
				width 11px
				height 1px
				background function-grey
				z-index 200
				bottom 0px
				left -6px
			
			span
				color function-grey
				position absolute
				bottom 0
				right 20px
				font-size 14px
	
	#bars
		position absolute
		right 0
		display table
		height 100%
		width 95%
		padding 0
		bottom 0px
		
		li
			display table-cell
			width 300px
			height 100%
			margin 0
			text-align center
			position relative
			
			.bar
				display block
				width 90%
				position absolute
				bottom 0
				background-repeat no-repeat
				background-position bottom left
				z-index 100
				&.bar-1
					background-image url('../images/results-overview-1.jpg')
				&.bar-2
					background-image url('../images/results-overview-2.jpg')
				&.bar-3
					background-image url('../images/results-overview-3.jpg')
				&.bar-4
					background-image url('../images/results-overview-4.jpg')
				&.bar-5
					background-image url('../images/results-overview-5.jpg')
				&.active
					&:after
						content ""
						position absolute
						height 100%
						width 100%
						left 0
						bottom 0
						background-color rgb(0, 189, 242)
						background-color rgba(0, 189, 242, .8)
				span
					width 100%
					position absolute
					bottom -2em
					left 0
					text-align center
					font-size 15px
					font-weight bold
.no-touch
	.bar-chart
		#bars 
			li 
				.bar	
					&:hover
						span
							color light-blue
							
#chart-legend-you
	border-top 1px solid function-grey
	position relative
	font-size 12px
	width 100%
	margin 0px 0 20px
	padding-top 40px
	ul
		display table
		
		li
			display table-cell
			line-height 1.4
			padding-right 10px
			vertical-align middle
			
			.legend-marker
				width 30px
				height 30px
				background-color light-blue
				display block
			
.no-border
	border none !important	
.results-page-matrix
	font-size 14px
	margin-top 20px
	>ul
		>li
			>ul
				>li
					&:first-child
						display table !important
						vertical-align middle
						span
							display table-cell
							vertical-align middle
	ul
		li
			min-height 50px
			text-align center
			ul
				&.header
					li
						ul
							li
								border-top none !important
								border-right none
								color grey !important
								&:last-child
										border-right 1px solid function-grey
								span
									padding-left 0 !important
				position relative
				li
					position relative
					display block
					&:first-child
						width 100%
						text-align left
						display block
						padding 5px
						span
							padding-left 10px
						+ li
							width 100%
							color #fff
							height 50px
						
					ul
						display table
						position absolute
						height 100%
						width 100%
						li
							padding 0 !important
							display table-cell !important
							vertical-align middle
							position relative !important
							text-align center !important
							width 20% !important
							height 100%
							border 1px solid function-grey
							&:last-child
								border-right 1px solid function-grey
							&.active
								background rgb(0, 189, 242)
								background rgba(0, 189, 242, .8)
							
						&.first
							background url('/images/img-result-image-1-alt.png') no-repeat
							background-size 100% 100%
						&.second
							background url('/images/img-result-image-2-alt.png') no-repeat
							background-size 100% 100%
						&.third
							background url('/images/img-result-image-3-alt.png') no-repeat
							background-size 100% 100%
						&.fourth
							background url('/images/img-result-image-4-alt.png') no-repeat
							background-size 100% 100%
						&.fifth
							background url('/images/img-result-image-5-alt.png') no-repeat
							background-size 100% 100%
						&.sixth
							background url('/images/img-result-image-6-alt.png') no-repeat
							background-size 100% 100%
			
.ie8
	.results-page-matrix
		.first, .second, .third, .fourth, .fifth, .sixth
			background: no-repeat center center fixed
		.first
			filter unquote("progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/img-result-image-1.png',sizingMethod='scale')")
		.second
			filter unquote("progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/img-result-image-2.png',sizingMethod='scale')")
		.third
			filter unquote("progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/img-result-image-3.png',sizingMethod='scale')")
		.fourth
			filter unquote("progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/img-result-image-4.png',sizingMethod='scale')")
		.fifth
			filter unquote("progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/img-result-image-5.png',sizingMethod='scale')")
		.sixth
			filter unquote("progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/img-result-image-6.png',sizingMethod='scale')")
.clear
	clear both

.legend-cols
	margin-top 20px
	&.cols-2
		ul
			li
				width 100%
	ul
		li
			display inline-block
			vertical-align top
			margin-bottom 5px
			.marker
				width 16px
				height 16px
				float left
			.text
				float left
				width 80%
				width calc(100% - 26px)
				font-size 14px
				line-height 16px
				margin-left 10px
				
.donut-chart
	height 300px
.donut-chart-info-text
	width 30%
	position absolute
	font-size 13px
	margin-top -80px
	font-weight bolder

.chart-wrapper
	position relative
	
.slides
	.slide
		display none
		.your-answer
			margin 10px 0 30px
			&.multi
				p
					margin 5px 0
		

.slide-chart-4
	opacity 1 !important
				