html {
  font-size: 62.5%;
}
body *,
body *:before,
body *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  display: block;
  border: none;
}
button,
.btn {
  border: none;
  background-color: #fd0;
  padding: 3px;
  cursor: pointer;
}
a {
  display: inline-block;
}
:focus {
  outline: none;
  -moz-appearance: none;
}
display table:after {
  clear: both;
}
@font-face {
  font-family: 'interstate-bold';
  src: url("./fonts/interstate-bold.eot");
  src: url("./fonts/interstate-bold.eot?#iefix") format('embedded-opentype'), url("./fonts/interstate-bold.woff") format('woff'), url("./fonts/interstate-bold.ttf") format('truetype'), url("./fonts/interstate-bold.svg#open_sansbold") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'interstate-regular';
  src: url("./fonts/interstate-regular-webfont.eot");
  src: url("./fonts/interstate-regular-webfont.eot?#iefix") format('embedded-opentype'), url("./fonts/interstate-regular-webfont.woff") format('woff'), url("./fonts/interstate-regular-webfont.ttf") format('truetype'), url("./fonts/interstate-regular-webfont.svg#open_sansbold") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'InterstateLight';
  src: url("./fonts/InterstateLight.eot");
  src: url("./fonts/InterstateLight.eot?#iefix") format('embedded-opentype'), url("./fonts/InterstateLight.woff") format('woff'), url("./fonts/InterstateLight.ttf") format('truetype'), url("./fonts/InterstateLight.svg#open_sansbold") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Interstate_exLight';
  src: url("./fonts/Interstate_exLight.eot");
  src: url("./fonts/Interstate_exLight.eot?#iefix") format('embedded-opentype'), url("./fonts/Interstate_exLight.woff") format('woff'), url("./fonts/Interstate_exLight.ttf") format('truetype'), url("./fonts/Interstate_exLight.svg#open_sansbold") format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
}
a {
  color: #00bdf2;
}
::-webkit-input-placeholder {
  color: #53565a;
}
:-moz-placeholder {
  color: #53565a;
}
::-moz-placeholdercolor {
  color: #53565a;
}
:-ms-input-placeholder {
  color: #53565a;
}
.clearfix {
  zoom: 1;
  clear: both;
}
.clearfix:after,
.clearfix:before {
  content: "";
}
.wrapper {
  float: initial;
  margin: 0 auto;
  max-width: 980px;
  width: 100%;
  overflow: hidden;
}
.btn {
  font-family: "InterstateLight", Helvetica, Arial, sans-serif;
  background-color: #00bdf2;
  color: #fff;
  vertical-align: middle;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 16px;
  line-height: 1.6rem;
}
.btn.previous {
  background-color: #eee;
  color: #53565a;
}
.btn span {
  position: relative;
  display: inline-block;
  padding: 3px 20px;
  margin: 0px;
  vertical-align: middle;
  float: left;
}
.btn i {
  position: relative;
  display: inline-block;
  float: right;
  padding: 5px;
}
a {
  cursor: pointer;
}
p {
  line-height: 1.2;
}
.header {
  position: relative;
  width: 100%;
  height: auto;
  display: block;
  float: left;
}
.header .top_bar {
  background: url("/images/background-header-top-bar.png") #000 repeat-x;
  height: 24px;
}
.header .top_bar >a {
  color: #fff;
  margin: 6px 5%;
  font-size: 10px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}
.header .top_bar .ul_top_nav_link {
  float: right;
  margin-top: 2px;
  margin-right: 5%;
}
.header .top_bar .ul_top_nav_link li:first-child:after {
  content: "|";
  color: #666;
  font-size: 10px;
  margin: 0 10px;
}
.header .top_bar .ul_top_nav_link li {
  float: left;
}
.header .top_bar .ul_top_nav_link li a {
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}
.header .banner {
  display: table;
  table-layout: fixed;
  width: 100%;
  background: url("/images/background-header-alt.png") #168bc4 repeat-x;
  padding: 20px 5%;
}
.header .banner >* {
  position: initial;
  float: initial;
  display: table-cell;
  color: #fff;
  vertical-align: bottom;
}
.header .banner .logo {
  text-align: left;
}
.header .title {
  font-weight: normal;
  text-align: center;
  font-family: "Interstate_exLight", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-size: 2.3rem;
  display: none;
}
.header .mobile-menu {
  text-align: right;
}
.header .mobile-menu .btn-mobile-menu {
  background-color: transparent;
  text-align: center;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.header .mobile-menu .btn-mobile-menu i {
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  -webkit-text-shadow: 1px 1px 5px #005266;
  -moz-text-shadow: 1px 1px 5px #005266;
  text-shadow: 1px 1px 5px #005266;
}
.header .mobile-menu .btn-mobile-menu.open {
  opacity: 0.6;
}
.header .mobile-menu i {
  -webkit-text-shadow: none;
  -moz-text-shadow: none;
  text-shadow: none;
}
.header .navigation {
  float: left;
  font-weight: 400;
  color: #fff;
  width: 100%;
  background-color: #00bdf2;
  display: block;
  height: 0;
  letter-spacing: 0.8px;
  overflow: hidden;
  -webkit-transition: height 0.5s ease;
  -moz-transition: height 0.5s ease;
  transition: height 0.5s ease;
}
.header .navigation li {
  display: block;
  border-top: 1px solid #fff;
  text-align: center;
}
.header .navigation li a {
  color: inherit;
  padding: 7px 18px;
  text-align: center;
  text-decoration: none;
}
.header .navigation li a:hover {
  text-decoration: none;
}
.header .navigation li:last-child {
  border-bottom: 1px solid #fff;
}
.header .navigation.open {
  height: 125px;
}
.content {
  position: relative;
  float: left;
  width: 100%;
}
.content .intro {
  position: relative;
  padding: 4%;
  color: #fff;
}
.content .intro h1,
.content .intro h2 {
  font-family: "Interstate_exLight", Helvetica, Arial, sans-serif;
  color: #fff;
  font-weight: 100;
}
.content .intro h1 {
  margin: 0px 0px 30px 0px;
  font-size: 35px;
  font-size: 3.5rem;
  -webkit-text-shadow: 0px 0px 2px #969696;
  -moz-text-shadow: 0px 0px 2px #969696;
  text-shadow: 0px 0px 2px #969696;
}
.content .intro p {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 1.4rem;
  max-width: 450px;
  -webkit-text-shadow: 0px 0px 2px #969696;
  -moz-text-shadow: 0px 0px 2px #969696;
  text-shadow: 0px 0px 2px #969696;
  margin-bottom: 10px;
}
.content .item {
  float: left;
  background: #fff;
  width: 100%;
  color: #97999b;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px -4px 6px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px -4px 6px 0px rgba(0,0,0,0.2);
  box-shadow: 0px -4px 6px 0px rgba(0,0,0,0.2);
}
.content .item img {
  width: 100%;
}
.content .item .btn {
  position: relative;
  display: block;
  float: right;
  margin-top: 10px;
  clear: both;
}
.content .item header,
.content .item p {
  margin: 3%;
}
.content .item p {
  font-weight: 100;
  margin-top: 10px;
  float: left;
  color: #97999b;
}
.content .item header {
  width: 100%;
  position: relative;
  float: left;
  font-family: Helvetica, Arial, sans-serif;
  color: #002d72;
  margin-top: 20px;
}
.content .item header h2 {
  font-size: 24px;
  font-size: 2.4rem;
  font-weight: 400;
}
.content .item header h3 {
  margin-top: 6px;
  color: #253b75;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 400;
}
.content .item .linkto {
  margin-bottom: 10px;
  float: left;
}
.content .featured {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-top: 20px;
}
.content .featured ul {
  width: 100%;
  float: left;
}
.content .featured ul li {
  width: 100%;
  position: relative;
  float: left;
  cursor: pointer;
  margin-bottom: 30px;
}
.content .featured ul li a {
  text-decoration: none;
  color: #999;
}
.content .featured ul li.last {
  margin-right: 0;
}
.content .featured ul header {
  width: 100%;
  position: relative;
  float: left;
  background-color: #002d72;
  text-align: center;
  color: #fff;
  padding: 10px;
}
.content .featured ul header h2 {
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: 200;
  font-family: 'interstate-regular', Helvetica, Arial, sans-serif;
  text-align: left;
}
.content .featured ul img {
  width: 100%;
  height: auto;
  background-color: #97999b;
  padding: 0px;
  border: none;
  margin: 0px;
  display: inline-block;
}
.content .featured ul p {
  max-height: 150px;
  padding: 10px 2% 20px;
}
.content .btn {
  float: right;
  margin: 0;
}
.content .link {
  background: #eee url("../images/bg-boys-big.png") no-repeat right bottom;
  width: 100%;
  top: 0px;
  display: inline-block;
  position: relative;
}
.content .link >a,
.content .link >a:hover,
.content .link >a:visited {
  display: block;
  with: 100%;
  text-decoration: none;
}
.content .link p {
  color: #97999b;
  font-size: 20px;
}
.content .link .link-header {
  background-color: #002d72;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
}
.content .link .link-header h2 {
  font-family: "interstateLight", Arial, Helvetica, sans-serif;
  color: #fff;
  font-size: 24px;
  font-weight: 200;
  padding: 0.75em 20px;
}
.content .link .link-header .link-header-triangle {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 45px 40px 0;
  border-color: transparent #002d72 transparent transparent;
  position: absolute;
  left: 6%;
}
.content .link .main-content {
  position: relative;
  top: 0px;
  left: 0;
  padding: 45px 3% 10px;
}
.content .link .quicklink {
  position: relative;
  float: right;
  padding: 8px 5px;
  margin: 3%;
}
.content.home {
  background-image: url("/images/background-home.jpg");
  background-repeat: no-repeat;
}
.content.progress-makers .intro h1,
.content.progress-makers .intro p {
  color: #002d72;
  -webkit-text-shadow: none;
  -moz-text-shadow: none;
  text-shadow: none;
}
.content.progress-makers .intro h1 {
  font-family: "Interstate_exLight", Helvetica, Arial, sans-serif;
  margin-top: 0;
}
.content.progress-makers >p {
  max-width: 400px;
}
.content.progress-makers #profile-list-container {
  width: 100%;
  position: relative;
  display: inline-block;
  float: left;
  margin-top: 10px;
}
.content.progress-makers-report .progress-makers-detail .body-left .main.report-content h2 {
  font-size: 2rem;
  font-weight: 600;
}
.content.progress-makers-report .progress-makers-detail .body-left .main.report-content h3 {
  color: #253a79;
  font-size: 1.8rem;
  font-weight: 200;
}
.content.progress-makers-report .download-report {
  text-align: center;
  margin: 30px 0;
  width: 100%;
}
.content.progress-makers-report .download-report .btn {
  float: none;
}
.content.pm-profile .intro {
  padding-bottom: 0;
}
.content.pm-profile .intro h1 {
  color: #002d72;
  margin-top: 0;
  -webkit-text-shadow: none;
  -moz-text-shadow: none;
  text-shadow: none;
}
.content.pm-profile .progress-makers-detail {
  width: 100%;
  position: relative;
  display: block;
  float: left;
  color: #97999b;
  font-weight: 200;
}
.content.pm-profile .progress-makers-detail .body-left {
  width: 100%;
  float: left;
  position: relative;
}
.content.pm-profile .progress-makers-detail .body-left p {
  margin: 10px 0px;
}
.content.pm-profile .progress-makers-detail .body-left .abstract {
  width: 100%;
}
.content.pm-profile .progress-makers-detail .body-left .abstract img {
  width: 100%;
  display: inline-block;
}
.content.pm-profile .progress-makers-detail .body-left .abstract p {
  padding: 10px 3%;
}
.content.pm-profile .progress-makers-detail .body-left .abstract p strong {
  color: #002d72;
  font-weight: inherit;
}
.content.pm-profile .progress-makers-detail .body-left .abstract h1,
.content.pm-profile .progress-makers-detail .body-left .abstract h2 {
  color: #002d72;
  padding: 0 3%;
}
.content.pm-profile .progress-makers-detail .body-left .abstract h1 {
  margin-top: 20px;
  font-size: 20px;
  font-size: 2rem;
  font-weight: 600;
}
.content.pm-profile .progress-makers-detail .body-left .abstract h2 {
  margin-top: 5px;
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: 200;
  border-bottom: 1px dotted;
  padding-bottom: 20px;
  display: table;
  margin-bottom: 20px;
}
.content.pm-profile .progress-makers-detail .body-left .main {
  padding: 0 3%;
  margin-bottom: 20px;
}
.content.pm-profile .progress-makers-detail .body-left .main h1,
.content.pm-profile .progress-makers-detail .body-left .main h2 {
  margin: 30px 0px 10px 0px;
  font-size: inherit;
  color: #002d72;
  font-weight: 600;
}
.content.pm-profile .progress-makers-detail .body-left blockquote {
  font-size: 20px;
  font-size: 2rem;
  float: left;
  margin: 20px 15%;
  padding: 5% 0;
  width: 80%;
  position: relative;
  color: #00bdf2;
  font-family: "Interstate_exLight", Helvetica, Arial, sans-serif;
}
.content.pm-profile .progress-makers-detail .body-left blockquote:before {
  color: #ccc;
  content: url("/images/quote_mark_1.png") no-repeat;
  position: absolute;
  top: 0px;
  left: -45px;
  z-index: -1;
}
.content.pm-profile .progress-makers-detail .body-left blockquote:after {
  color: #ccc;
  content: url("/images/quote_mark_2.png") no-repeat;
  position: absolute;
  bottom: -15px;
  right: 0;
  z-index: -1;
}
.content.pm-profile .progress-makers-detail .body-right {
  width: 100%;
  float: left;
}
.content.pm-profile .progress-makers-detail .body-right >h2 {
  color: #002d72;
  font-size: 20px;
  font-size: 2rem;
  margin: 30px 3% 10px;
  font-weight: 200;
}
.social-links {
  background-color: #fff;
  -webkit-border-radius: 12px 0 0 12px;
  -moz-border-radius: 12px 0 0 12px;
  border-radius: 12px 0 0 12px;
  z-index: 100;
  position: absolute;
  right: 0px;
  bottom: -40px;
  overflow: hidden;
  width: 36px;
  -webkit-transition: width 0.5s ease;
  -moz-transition: width 0.5s ease;
  transition: width 0.5s ease;
}
.social-links .social-links-inner {
  width: 220px;
}
.social-links .social-btn {
  background-color: #00bdf2;
  -webkit-border-radius: 10px 0px 0px 10px;
  -moz-border-radius: 10px 0px 0px 10px;
  border-radius: 10px 0px 0px 10px;
  color: #fff;
  cursor: pointer;
  float: left;
  height: 32px;
  font-size: 21px;
  margin-right: 2px;
  padding: 0px 9px;
}
.social-links .social-btn i {
  line-height: 32px;
}
.social-links.open {
  width: 220px;
}
footer {
  width: 100%;
  display: inline-block;
  border-top: 2px solid #cdcdcb;
  margin-top: 20px;
  color: #97999b;
  font-weight: 400;
  padding: 0px 2%;
  float: left;
}
footer >* {
  position: relative;
  display: block;
  float: left;
  text-align: left;
  vertical-align: top;
  width: 100%;
  margin-top: 10px;
}
footer .policy a {
  text-decoration: underline;
  color: #97999b;
}
footer .partner span {
  text-align: right;
  display: block;
}
footer .partner ul {
  float: right;
  margin-top: 10px;
}
footer .partner ul li {
  float: left;
  display: inline-block;
  position: relative;
  margin-right: 8px;
}
.rotate-device {
  background-color: #fff;
  color: #09bfea;
  font-size: 2em;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0%;
  left: 0%;
  text-align: center;
  text-transform: uppercase;
  z-index: 5000;
  display: none;
}
.rotate-device span {
  opacity: 0.7;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.rotate-device span i {
  font-size: 4rem;
}
.no-padding {
  padding: 0 !important;
  padding-bottom: 4% !important;
}
.tabs header ul {
  width: 100%;
  display: table;
}
.tabs header ul li {
  display: table-cell;
  width: 50%;
  background: #eee;
}
.tabs header ul li a {
  font-size: 16px;
  font-weight: bold;
  display: block;
  opacity: 0.3;
  color: #002d72;
  text-decoration: none;
  padding: 15px 8%;
}
.tabs header ul li.active {
  background: #fff;
}
.tabs header ul li.active a {
  opacity: 1;
  color: #002d72;
}
.tabs .tab-content {
  display: none;
  padding: 20px 4%;
}
.tabs .tab-content .progress-bar {
  background-color: #ccc;
  height: 10px;
  width: 100%;
  position: relative;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  overflow: hidden;
  margin: 43px auto;
}
.tabs .tab-content .progress-bar .indicator-bar {
  background-color: #00bdf2;
  height: 100%;
  width: 0%;
  position: absolute;
  top: 0;
}
.tabs .tab-content .progress-bar .indicator-bar-parts {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
}
.tabs .tab-content .progress-bar .indicator-bar-parts div {
  background-color: #fff;
  cursor: pointer;
  height: 10px;
  width: 5px;
  display: block;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0%;
  -webkit-transform: translate(-50%, 0%);
  -moz-transform: translate(-50%, 0%);
  -webkit-transform: translate(-50%, 0%);
  -moz-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  z-index: 3;
}
.tabs .tab-content .progress-bar .indicator-bar-parts div.two {
  left: 20%;
}
.tabs .tab-content .progress-bar .indicator-bar-parts div.three {
  left: 40%;
}
.tabs .tab-content .progress-bar .indicator-bar-parts div.four {
  left: 60%;
}
.tabs .tab-content .progress-bar .indicator-bar-parts div.five {
  left: 80%;
}
.tabs .tab-content .progress-bar .indicator-bar-parts div.six {
  left: 100%;
}
.results h1 {
  color: #002d72;
  font-size: 17px;
  margin-bottom: 8px;
}
.results h2 {
  color: #002d72;
  font-size: 12px;
  margin-bottom: 20px;
}
.results p {
  font-size: 1.6rem;
}
.results p.your-selection {
  color: #002d72;
}
.results .btn.left {
  float: left;
}
.results .result-outcome {
  margin-bottom: 50px;
}
.results .result-outcome h2 {
  color: #00bdf2;
  font-size: 2.6rem;
  margin: 30px 0px 30px;
  text-align: center;
}
.results .result-outcome p.link-text {
  margin: 30px 0 !important;
}
.results .result-outcome ul {
  list-style-type: disc;
  padding-left: 20px;
}
.results .result-outcome ul li {
  font-size: 1.6rem;
  margin-bottom: 10px;
  line-height: 1.5;
}
.bar-chart {
  position: relative;
  height: 340px;
}
.bar-chart .squiggle {
  background-image: url("../images/squiggle.jpg");
  background-repeat: no-repeat;
  height: 24px;
  width: 21px;
  margin-bottom: 18px;
  position: absolute;
  bottom: 0%;
  left: -8px;
  z-index: 20;
}
.bar-chart #vAxis {
  border-left: 1px solid #ccc;
  width: 5%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: inline-block;
  position: relative;
  z-index: 1;
}
.bar-chart #vAxis li {
  text-align: right;
  padding-right: 1em;
  list-style: none;
  height: 20%;
  position: relative;
  bottom: 30px;
}
.bar-chart #vAxis li:after {
  position: absolute;
  content: " ";
  width: 11px;
  height: 1px;
  background: #ccc;
  z-index: 200;
  bottom: 0px;
  left: -6px;
}
.bar-chart #vAxis li span {
  color: #ccc;
  position: absolute;
  bottom: 0;
  right: 20px;
  font-size: 14px;
}
.bar-chart #bars {
  position: absolute;
  right: 0;
  display: table;
  height: 100%;
  width: 95%;
  padding: 0;
  bottom: 0px;
}
.bar-chart #bars li {
  display: table-cell;
  width: 300px;
  height: 100%;
  margin: 0;
  text-align: center;
  position: relative;
}
.bar-chart #bars li .bar {
  display: block;
  width: 90%;
  position: absolute;
  bottom: 0;
  background-repeat: no-repeat;
  background-position: bottom left;
  z-index: 100;
}
.bar-chart #bars li .bar.bar-1 {
  background-image: url("../images/results-overview-1.jpg");
}
.bar-chart #bars li .bar.bar-2 {
  background-image: url("../images/results-overview-2.jpg");
}
.bar-chart #bars li .bar.bar-3 {
  background-image: url("../images/results-overview-3.jpg");
}
.bar-chart #bars li .bar.bar-4 {
  background-image: url("../images/results-overview-4.jpg");
}
.bar-chart #bars li .bar.bar-5 {
  background-image: url("../images/results-overview-5.jpg");
}
.bar-chart #bars li .bar.active:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: #00bdf2;
  background-color: rgba(0,189,242,0.8);
}
.bar-chart #bars li .bar span {
  width: 100%;
  position: absolute;
  bottom: -2em;
  left: 0;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}
.no-touch .bar-chart #bars li .bar:hover span {
  color: #00bdf2;
}
#chart-legend-you {
  border-top: 1px solid #ccc;
  position: relative;
  font-size: 12px;
  width: 100%;
  margin: 0px 0 20px;
  padding-top: 40px;
}
#chart-legend-you ul {
  display: table;
}
#chart-legend-you ul li {
  display: table-cell;
  line-height: 1.4;
  padding-right: 10px;
  vertical-align: middle;
}
#chart-legend-you ul li .legend-marker {
  width: 30px;
  height: 30px;
  background-color: #00bdf2;
  display: block;
}
.no-border {
  border: none !important;
}
.results-page-matrix {
  font-size: 14px;
  margin-top: 20px;
}
.results-page-matrix >ul >li >ul >li:first-child {
  display: table !important;
  vertical-align: middle;
}
.results-page-matrix >ul >li >ul >li:first-child span {
  display: table-cell;
  vertical-align: middle;
}
.results-page-matrix ul li {
  min-height: 50px;
  text-align: center;
}
.results-page-matrix ul li ul {
  position: relative;
}
.results-page-matrix ul li ul.header li ul li {
  border-top: none !important;
  border-right: none;
  color: #97999b !important;
}
.results-page-matrix ul li ul.header li ul li:last-child {
  border-right: 1px solid #ccc;
}
.results-page-matrix ul li ul.header li ul li span {
  padding-left: 0 !important;
}
.results-page-matrix ul li ul li {
  position: relative;
  display: block;
}
.results-page-matrix ul li ul li:first-child {
  width: 100%;
  text-align: left;
  display: block;
  padding: 5px;
}
.results-page-matrix ul li ul li:first-child span {
  padding-left: 10px;
}
.results-page-matrix ul li ul li:first-child + li {
  width: 100%;
  color: #fff;
  height: 50px;
}
.results-page-matrix ul li ul li ul {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}
.results-page-matrix ul li ul li ul li {
  padding: 0 !important;
  display: table-cell !important;
  vertical-align: middle;
  position: relative !important;
  text-align: center !important;
  width: 20% !important;
  height: 100%;
  border: 1px solid #ccc;
}
.results-page-matrix ul li ul li ul li:last-child {
  border-right: 1px solid #ccc;
}
.results-page-matrix ul li ul li ul li.active {
  background: #00bdf2;
  background: rgba(0,189,242,0.8);
}
.results-page-matrix ul li ul li ul.first {
  background: url("/images/img-result-image-1-alt.png") no-repeat;
  background-size: 100% 100%;
}
.results-page-matrix ul li ul li ul.second {
  background: url("/images/img-result-image-2-alt.png") no-repeat;
  background-size: 100% 100%;
}
.results-page-matrix ul li ul li ul.third {
  background: url("/images/img-result-image-3-alt.png") no-repeat;
  background-size: 100% 100%;
}
.results-page-matrix ul li ul li ul.fourth {
  background: url("/images/img-result-image-4-alt.png") no-repeat;
  background-size: 100% 100%;
}
.results-page-matrix ul li ul li ul.fifth {
  background: url("/images/img-result-image-5-alt.png") no-repeat;
  background-size: 100% 100%;
}
.results-page-matrix ul li ul li ul.sixth {
  background: url("/images/img-result-image-6-alt.png") no-repeat;
  background-size: 100% 100%;
}
.ie8 .results-page-matrix .first,
.ie8 .results-page-matrix .second,
.ie8 .results-page-matrix .third,
.ie8 .results-page-matrix .fourth,
.ie8 .results-page-matrix .fifth,
.ie8 .results-page-matrix .sixth {
  background: no-repeat center center fixed;
}
.ie8 .results-page-matrix .first {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/img-result-image-1.png',sizingMethod='scale');
}
.ie8 .results-page-matrix .second {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/img-result-image-2.png',sizingMethod='scale');
}
.ie8 .results-page-matrix .third {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/img-result-image-3.png',sizingMethod='scale');
}
.ie8 .results-page-matrix .fourth {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/img-result-image-4.png',sizingMethod='scale');
}
.ie8 .results-page-matrix .fifth {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/img-result-image-5.png',sizingMethod='scale');
}
.ie8 .results-page-matrix .sixth {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/img-result-image-6.png',sizingMethod='scale');
}
.clear {
  clear: both;
}
.legend-cols {
  margin-top: 20px;
}
.legend-cols.cols-2 ul li {
  width: 100%;
}
.legend-cols ul li {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 5px;
}
.legend-cols ul li .marker {
  width: 16px;
  height: 16px;
  float: left;
}
.legend-cols ul li .text {
  float: left;
  width: 80%;
  width: calc(100% - 26px);
  font-size: 14px;
  line-height: 16px;
  margin-left: 10px;
}
.donut-chart {
  height: 300px;
}
.donut-chart-info-text {
  width: 30%;
  position: absolute;
  font-size: 13px;
  margin-top: -80px;
  font-weight: bolder;
}
.chart-wrapper {
  position: relative;
}
.slides .slide {
  display: none;
}
.slides .slide .your-answer {
  margin: 10px 0 30px;
}
.slides .slide .your-answer.multi p {
  margin: 5px 0;
}
.slide-chart-4 {
  opacity: 1 !important;
}
@media only screen and (min-width: 481px) {
  .content .intro h1 {
    font-size: 45px;
    font-size: 4.5rem;
  }
  .content .intro p {
    max-width: 500px;
  }
  .content .item {
    padding: 1%;
    width: 48%;
    margin-right: 2%;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 1px 8px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 1px 8px 2px rgba(0,0,0,0.2);
    box-shadow: 0px 1px 8px 2px rgba(0,0,0,0.2);
  }
  .content .item p {
    height: auto;
    margin-top: 0px;
  }
  .content .item header {
    height: auto;
  }
  .content .link {
    padding: 0 !important;
  }
  .content.progress-makers #profile-list-container {
    padding: 0 3%;
  }
  .content.progress-makers #profile-list-container .item header {
    height: 62px;
  }
  .content.progress-makers #profile-list-container .item p {
    height: 95px;
  }
  .content.progress-makers #profile-list-container .link {
    width: 46%;
  }
  .content.progress-makers #profile-list-container .link .main-content {
    width: 100%;
    float: left;
  }
  .content.progress-makers #profile-list-container .link p {
    max-width: 400px;
    font-size: 18px;
    font-size: 1.8rem;
    clear: both;
    height: auto;
  }
}
@media only screen and (min-width: 650px) {
  .header .banner .title {
    display: table-cell;
    text-align: right;
  }
  .header .banner .mobile-menu {
    display: none;
  }
  .header .navigation {
    padding-left: 3%;
    font-size: 12px;
    font-size: 1.2rem;
    height: auto;
  }
  .header .navigation.open {
    height: auto;
  }
  .header .navigation li {
    float: left;
    display: inline-block;
    border-top: none;
  }
  .header .navigation li:last-child {
    border-bottom: none;
  }
  .content .featured {
    position: relative;
    float: left;
    margin: 30px 2%;
    width: 96%;
  }
  .content .featured ul {
    margin: 0px;
    padding: 0px;
    float: left;
    position: relative;
  }
  .content .featured ul li {
    width: 32%;
    margin-right: 2%;
    padding: 0px;
    position: relative;
    float: left;
    cursor: pointer;
  }
  .content .featured ul li a {
    text-decoration: none;
    color: #999;
  }
  .content .featured ul li h2 {
    height: 40px;
    display: table-cell;
    width: 100%;
    vertical-align: middle;
  }
  .content .featured ul li p {
    height: 130px;
    padding: 10px;
    font-size: 14px;
    font-size: 1.4rem;
    display: table-cell;
    vertical-align: top;
  }
  .content.pm-profile .progress-makers-detail {
    border: 1px solid #eee;
    margin: 0 4%;
    width: 92%;
  }
  .content.pm-profile .progress-makers-detail .body-left {
    border-right: 1px dotted #002d72;
    margin-right: -1px;
    padding: 4%;
    width: 70%;
  }
  .content.pm-profile .progress-makers-detail .body-left .abstract {
    border-bottom: 1px dotted #002d72;
    float: left;
    margin-bottom: 30px;
  }
  .content.pm-profile .progress-makers-detail .body-left .abstract img {
    width: 35%;
    float: left;
    margin: 0px 20px 8px 0px;
  }
  .content.pm-profile .progress-makers-detail .body-left .abstract h1,
  .content.pm-profile .progress-makers-detail .body-left .abstract h2,
  .content.pm-profile .progress-makers-detail .body-left .abstract p {
    padding-left: 0;
    padding-right: 0;
  }
  .content.pm-profile .progress-makers-detail .body-left .abstract h1 {
    margin-top: 0px;
  }
  .content.pm-profile .progress-makers-detail .body-left .abstract h2 {
    margin-bottom: 50px;
  }
  .content.pm-profile .progress-makers-detail .body-left .main {
    padding: 0;
  }
  .content.pm-profile .progress-makers-detail .body-right {
    padding: 3%;
    width: 30%;
  }
  .content.pm-profile .progress-makers-detail .body-right >h2 {
    margin: 0px 0px 10px;
  }
  .content.pm-profile .progress-makers-detail .body-right .item {
    width: 100%;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  .content.pm-profile .progress-makers-detail .body-right header,
  .content.pm-profile .progress-makers-detail .body-right p {
    margin: 0;
  }
  .content.pm-profile .progress-makers-detail .body-right header {
    height: auto;
    margin: 10px 0px;
  }
  .content.pm-profile .progress-makers-detail .body-right header h2 {
    font-size: 20px;
    font-size: 2rem;
  }
  footer {
    font-size: 10px;
    font-size: 1rem;
    margin-bottom: 20px;
    padding-top: 10px;
    display: table;
    table-layout: fixes;
  }
  footer >* {
    display: table-cell;
    float: none;
  }
  footer .copyright {
    width: 33.333%;
  }
  footer .policy {
    width: 33.333%;
    text-align: center;
  }
  footer .partner {
    width: 33.333%;
    text-align: right;
  }
  footer .partner span {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  footer .partner ul {
    margin-top: 0px;
    float: right;
  }
  .results-page-matrix {
    font-size: 14px;
  }
  .results-page-matrix ul li ul {
    position: relative;
  }
  .results-page-matrix ul li ul.header {
    height: 50px !important;
    margin-bottom: 0 !important;
  }
  .results-page-matrix ul li ul.header li {
    margin-bottom: 0 !important;
  }
  .results-page-matrix ul li ul.header li ul li {
    border-bottom: 0 !important;
    margin-bottom: 0 !important;
  }
  .results-page-matrix ul li ul li {
    margin-bottom: 2px;
    display: inline-block;
    margin-left: 1px;
  }
  .results-page-matrix ul li ul li:first-child + li {
    width: 70%;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    color: #fff;
  }
  .results-page-matrix ul li ul li:first-child {
    width: 30%;
    text-align: left;
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
  }
  .results-page-matrix ul li ul li ul {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
  }
  .results-page-matrix ul li ul li ul li {
    border-right: none;
    display: table-cell !important;
    vertical-align: middle;
    padding: 0 !important;
    position: relative !important;
    text-align: center !important;
    width: 20% !important;
  }
}
@media only screen and (min-width: 769px) {
  .header .navigation li a:hover {
    background-color: #008ce6;
  }
  .content.home .featured ul li p {
    height: 110px;
  }
  .content.progress-makers #profile-list-container {
    padding: 0 3%;
  }
  .content.progress-makers #profile-list-container .item {
    padding: 1%;
    width: 31.33333%;
    margin-right: 2%;
    margin-bottom: 2%;
    -webkit-box-shadow: 0px 1px 8px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 1px 8px 2px rgba(0,0,0,0.2);
    box-shadow: 0px 1px 8px 2px rgba(0,0,0,0.2);
  }
  .content.progress-makers #profile-list-container .item p {
    height: 110px;
  }
  .content.progress-makers #profile-list-container .link {
    width: 64.66666%;
  }
  .content .link {
    padding: 0 !important;
  }
  .content .link .main-content {
    width: 100%;
    float: left;
  }
  .content .link p {
    max-width: 400px;
    font-size: 18px;
    font-size: 1.8rem;
    clear: both;
  }
  .btn.over,
  .social-links .social-btn.over {
    background-color: #008ce6;
  }
  .btn.previous.over {
    background-color: #ccc;
  }
  .legend-cols.cols-2 ul li {
    width: 50%;
  }
}
.resize * {
  -webkit-transition: initial !important;
  -moz-transition: initial !important;
  transition: initial !important;
}
.content.assessment-tool {
  padding: 4%;
}
.content.assessment-tool h1 {
  color: #002d72;
  font-family: "Interstate_exLight", Helvetica, Arial, sans-serif;
  font-size: 4.5rem;
  font-weight: 100;
  margin: 0px 0px 30px 0px;
  -webkit-text-shadow: none;
  -moz-text-shadow: none;
  text-shadow: none;
}
.content.assessment-tool .view-container {
  overflow: hidden;
}
.content.assessment-tool .assessment {
  border: 1px solid #eee;
  width: 100%;
  margin: auto;
  padding: 2%;
  overflow: hidden;
}
.content.assessment-tool .assessment>h1 {
  margin-bottom: 20px;
}
.content.assessment-tool ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
.content.assessment-tool li {
  margin: 0px;
  padding: 0px;
}
.content.assessment-tool .pager {
  width: 100%;
  text-align: right;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 1;
  display: none;
  padding-top: 20px;
}
.content.assessment-tool .pager span.text {
  line-height: 28px;
}
.content.assessment-tool .pager.next,
.content.assessment-tool .pager.previous {
  opacity: 1;
  display: block;
}
.content.assessment-tool .pager .btn {
  display: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.content.assessment-tool .pager.next .btn.next {
  display: block;
  opacity: 1;
}
.content.assessment-tool .pager.previous .btn.previous {
  display: block;
  opacity: 1;
}
.content.assessment-tool .pager>* {
  margin-left: 20px;
}
.demographic-map {
  background: url("../images/map.png") no-repeat right bottom;
  background-size: 80%;
  min-height: 300px;
}
.content.assessment-tool .parts {
  clear: both;
  white-space: nowrap;
  overflow: visible;
  position: relative;
  left: 0px;
  width: 100%;
}
.content.assessment-tool .parts>* {
  display: inline-block;
  vertical-align: top;
  width: 100%;
}
.content.assessment-tool .parts>li>* {
  white-space: initial;
}
.content.assessment-tool .parts>li>h1 {
  display: none;
  font-size: 20px;
  float: left;
  width: 100%;
}
.content.assessment-tool .parts .tasks {
  clear: both;
  overflow: visible;
  white-space: nowrap;
  width: 100%;
  position: relative;
  left: 0px;
}
.content.assessment-tool .parts .part.industry {
  overflow: hidden;
}
.content.assessment-tool .parts .tasks>li {
  width: 100%;
  display: inline-block;
  vertical-align: top;
}
.content.assessment-tool .parts .tasks>li>* {
  white-space: normal;
}
.content.assessment-tool .parts .tasks>li>h1 {
  font-family: 'interstate-regular', Arial, Helvetica, sans-serif;
  font-size: 30px;
  float: left;
  padding: 0%;
  margin: 20px 0px 10px;
  width: 100%;
}
.content.assessment-tool .parts .tasks>li>p {
  color: #002d72;
  font-family: "interstate-light", Helvetica, Arial, sans-serif;
  font-weight: 100;
  margin-bottom: 20px;
}
.content.assessment-tool .questions {
  clear: both;
  white-space: nowrap !important;
  overflow: visible;
  width: 100%;
  position: relative;
  left: 0px;
}
.content.assessment-tool .questions>li {
  width: 100%;
  display: inline-block;
  vertical-align: top;
}
.content.assessment-tool .questions>li>* {
  white-space: initial;
}
.content.assessment-tool .questions>li>*>h1 {
  font-family: "interstate-regular", Helvetica, Arial, sans-serif;
  color: #97989a;
  font-size: 20px;
}
.content.assessment-tool .questions.end-sentence>li>*>h1 {
  color: #002d72;
  font-size: 30px;
  margin-top: 0px;
}
.content.assessment-tool .QaList ul li {
  float: left;
  height: auto;
  width: 50%;
  white-space: normal;
}
.content.assessment-tool .QaList ul li.other {
  width: 100%;
}
.content.assessment-tool .QaList ul li i {
  background-color: #ededed;
  height: 20px;
  width: 20px;
  display: block;
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
}
.content.assessment-tool .QaList ul li.selected i {
  background-color: #09bfea;
}
.content.assessment-tool .QaList ul li.selected span {
  color: #09bfea;
}
.content.assessment-tool .QaList ul li.other input {
  border: none;
  background-color: #dde7f0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-left: 10px;
  padding: 5px 10px;
}
.inline-display {
  display: inline-block;
}
.content.assessment-tool .industry .view-container {
  overflow: visible;
}
.assessment-tool .QaSlider {
  position: relative;
}
.assessment-tool .QaSlider h1 {
  margin-bottom: 50px;
  margin-top: 50px;
}
.assessment-tool .QaSlider .input {
  position: relative;
}
.assessment-tool .QaSlider .input .rail {
  width: 98%;
  height: 20px;
  position: absolute;
  top: 25px;
  left: 1%;
  -webkit-box-shadow: 0px 1px 8px 2px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 1px 8px 2px rgba(0,0,0,0.2);
  box-shadow: 0px 1px 8px 2px rgba(0,0,0,0.2);
}
.assessment-tool .QaSlider .input .handle {
  width: 76px;
  height: 76px;
  top: -10px;
  margin-left: -10px;
  position: relative;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: solid 10px #00bfe7;
}
.assessment-tool .QaSlider .input>ul {
  width: 100%;
  position: absolute;
  top: 0px;
}
.assessment-tool .QaSlider .input>ul>li {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 77px;
  height: 77px;
  line-height: 77px;
  position: absolute;
  border: solid 2px #12a2cd;
  text-align: center;
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 8px 2px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 1px 8px 2px rgba(0,0,0,0.2);
  box-shadow: 0px 1px 8px 2px rgba(0,0,0,0.2);
  cursor: pointer;
}
.assessment-tool .QaSlider .input>ul>li>span {
  line-height: normal;
  vertical-align: middle;
  display: inline-block;
  padding: 0px;
  font-family: 'InterstateLight', Arial, Helvetica;
  font-size: 12px;
  font-weight: 100;
  text-align: center;
  white-space: normal;
}
.questions .QaList ul li {
  float: left;
  width: 33.33%;
  padding: 10px 0;
}
.assessment-tool .QaDropdown {
  position: relative;
  left: 0;
  top: 0;
}
.assessment-tool .QaDropdown .QaDropdown-inner {
  background-color: #fff;
  -webkit-box-shadow: inset 0px 1px 8px 2px rgba(0,0,0,0.2);
  -moz-box-shadow: inset 0px 1px 8px 2px rgba(0,0,0,0.2);
  box-shadow: inset 0px 1px 8px 2px rgba(0,0,0,0.2);
  position: absolute;
  width: 200px;
  height: 0px;
  overflow: hidden;
/*transition all 0.5s ease*/
}
.assessment-tool .QaDropdown .QaDropdown-inner.open {
  height: 300px;
}
.assessment-tool .QaDropdown .QaDropdown-inner ul.items {
  padding: 10px;
  position: absolute;
}
.assessment-tool .QaDropdown .QaDropdown-inner ul.items li.selected {
  background-color: #dde7f0;
}
.assessment-tool .QaDropdown .scrollbar .handle {
  width: 100%;
  height: 10%;
  background-color: rgba(0,0,0,0.5);
  position: relative;
  top: 0px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.assessment-tool .QaDropdown .scrollbar.visible .handle {
  opacity: 1;
}
.assessment-tool .QaDropdown .scrollbar {
  position: absolute;
  width: 10px;
  top: 0px;
  right: 0px;
  height: 100%;
  z-index: 100;
}
.dropdown-btn {
  border: 2px solid #eee;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  background-color: #fff;
  position: relative;
  padding: 5px 0;
  width: 180px;
  overflow: visible;
}
.dropdown-btn i {
  background-color: #09bfea;
  color: #fff;
  font-size: 16px;
  position: absolute;
  right: -23px;
  top: -2px;
  line-height: 1em;
  padding: 5px 10px;
}
.timeline-container {
  background-color: #ccc;
  height: 10px;
  width: 100%;
  position: relative;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  overflow: hidden;
  margin: 43px auto;
}
.timeline-container span {
  background-color: #fff;
  height: 10px;
  width: 5px;
  display: block;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 20px;
  -webkit-transform: translate(-50%, 0%);
  -moz-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  z-index: 3;
}
.timeline-position {
  background-color: #00bdf2;
  height: 100%;
  width: 0%;
  position: absolute;
  top: 0;
}
.timeline-progress {
  background-color: #008ce6;
  height: 100%;
  width: 0%;
  position: absolute;
  top: 0;
}
.timeline-parts {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
}
#templates {
  display: none;
}
.disabled {
  pointer-events: none;
  cursor: none;
  opacity: 0.5;
}
#accordion {
  list-style-type: none;
  padding: 0;
  width: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
}
#accordion div {
  border-top: 1px solid #9eb5e6;
  border-bottom: 1px solid #5c75c5;
  display: block;
  background-color: #83a0fc;
  color: #fff;
  margin: 0;
  cursor: pointer;
  padding: 5px 10px;
}
#accordion ul {
  max-height: 200px;
  list-style: none;
  padding: 0;
  overflow: scroll;
}
#accordion ul {
  display: none;
}
#accordion ul li {
  font-weight: normal;
  cursor: auto;
  background-color: #dde7f0;
  padding: 5px 7px;
}
#accordion a {
  text-decoration: none;
}
#accordion a:hover {
  text-decoration: underline;
}
@media only screen and (max-width: 600px) {
  .content.assessment-tool .parts .tasks>li>h1,
  .content.assessment-tool .questions.end-sentence>li>*>h1 {
    font-size: 24px;
  }
  .content.assessment-tool .questions>li>*>h1 {
    font-size: 18px;
  }
  .timeline-container {
    margin: 23px auto;
  }
  .assessment-tool .QaSlider .input .rail,
  .assessment-tool .QaSlider .input .handle {
    display: none;
  }
  .assessment-tool .QaSlider .input >ul {
    position: relative;
  }
  .assessment-tool .QaSlider .input >ul >li {
    margin-bottom: 20px;
    height: 50px;
    width: 96% !important;
    line-height: 50px;
    position: relative;
    left: 2% !important;
    border: solid 2px #eee;
  }
  .assessment-tool .QaSlider .input >ul >li.selected {
    border: solid 2px #00bdf2;
  }
  .content.assessment-tool .parts .tasks li.QaList ul li {
    width: 100%;
  }
  .content.assessment-tool .questions .QaList ul li {
    padding: 5px 0;
    width: 100%;
  }
  div.content.mobile .QaDropdown .QaDropdown-inner {
    width: 100%;
  }
  div.content.mobile .QaDropdown .dropdown-btn {
    padding: 10px 0;
    width: 100%;
  }
  div.content.mobile .QaDropdown .dropdown-btn i {
    line-height: 1.5em;
    right: -1px;
  }
  div.content.mobile .QaDropdown-inner ul.items li {
    padding: 2%;
    width: 96%;
  }
}
.ie8 .content .featured ul li {
  margin-right: 2%;
  width: 32%;
}
.ie8 .content .featured ul li.last {
  margin-right: 0;
}
.ie8 .content.pm-profile .progress-makers-detail .body-left .abstract img {
  width: 35%;
  float: left;
  margin: 0px 20px 8px 0px;
}
.ie8 .content.pm-profile .progress-makers-detail .body-left .abstract h1 {
  float: left;
  margin-bottom: 10px;
  margin-top: 0px;
  min-width: 60%;
}
.ie8 .content.pm-profile .progress-makers-detail .body-left .abstract h1,
.ie8 .content.pm-profile .progress-makers-detail .body-left .abstract h2,
.ie8 .content.pm-profile .progress-makers-detail .body-left .abstract p {
  padding-left: 0;
  padding-right: 0;
}
.ie8 .content.pm-profile .progress-makers-detail .body-left .abstract h2 {
  border-bottom: 1px dotted #002d72;
  margin-bottom: 50px;
  padding-bottom: 10px;
}
.ie8 .content.pm-profile .progress-makers-detail .body-left .abstract p {
  padding-left: 0;
  padding-right: 0;
}
.ie8 .QaDropdown .dropdown-btn i {
  font-size: 17px;
}
.ie8 .QaDropdown .QaDropdown-inner {
  border: solid 1px #eee;
  border-top: none;
}
.ie8 .assessment-tool .QaSlider .input .rail {
  border: solid 1px #eee;
}
.ie8 .assessment-tool .QaSlider .input>ul>li>span {
  word-wrap: break-word;
  max-width: 66px;
}
