//////////////// ASSESSMENT ////////////////
.resize *
	transition initial !important

.content.assessment-tool
	padding 4%

	h1
		color dark-blue
		font-family font-brand-extra-light
		font-size 4.5rem
		font-weight 100
		margin 0px 0px 30px 0px
		text-shadow(none)

	.view-container
		overflow hidden

.content.assessment-tool .assessment
	border 1px solid #eee
	width 100%
	margin auto
	padding 2%
	overflow hidden

.content.assessment-tool .assessment>h1
	margin-bottom 20px

.content.assessment-tool ul
	list-style-type none
	margin 0px
	padding 0px

.content.assessment-tool li
	margin 0px
	padding 0px

.content.assessment-tool .pager
	width 100%
	text-align right
	transition all 0.5s
	opacity 1
	display none
	padding-top 20px
	span.text
		line-height 28px

.content.assessment-tool .pager.next, .content.assessment-tool .pager.previous
	opacity 1
	display block
	
.content.assessment-tool .pager .btn
	display none
	//opacity 0
	transition all 0.5s

.content.assessment-tool .pager.next .btn.next
	display block
	opacity 1

.content.assessment-tool .pager.previous .btn.previous
	display block
	opacity 1

.content.assessment-tool .pager>*
	margin-left:20px;


.demographic-map 
	background url('../images/map.png') no-repeat right bottom
	background-size 80%
	min-height 300px

.content.assessment-tool .parts
	clear both
	white-space nowrap
	overflow visible
	position relative
	left 0px
	//transition all 0.5s
	width 100%

.content.assessment-tool .parts>*
	display inline-block
	vertical-align top
	width 100%


.content.assessment-tool .parts>li>*
	white-space initial

.content.assessment-tool .parts>li>h1
	display none
	font-size 20px
	float left
	width 100%

.content.assessment-tool .parts .tasks
	clear both
	overflow visible
	white-space nowrap
	width 100%
	position relative
	left 0px
	//transition all 0.5s

.content.assessment-tool .parts .part.industry
	overflow hidden

.content.assessment-tool .parts .tasks>li
	width 100%
	display inline-block
	vertical-align top

.content.assessment-tool .parts .tasks>li>*
	white-space normal

.content.assessment-tool .parts .tasks>li>h1
	font-family 'interstate-regular',Arial,Helvetica,sans-serif
	font-size 30px
	float left
	padding 0%
	margin 20px 0px 10px
	width 100%

.content.assessment-tool .parts .tasks>li>p
	color dark-blue
	font-family "interstate-light", Helvetica, Arial, sans-serif
	font-weight 100
	margin-bottom 20px


.content.assessment-tool .questions
	clear both
	white-space nowrap !important
	overflow visible
	width 100%
	position relative
	left 0px
	//transition all 0.5s

.content.assessment-tool .questions>li
	width 100%
	display inline-block
	vertical-align top


.content.assessment-tool .questions>li>*
	white-space initial

.content.assessment-tool .questions>li>*>h1
	font-family "interstate-regular", Helvetica, Arial, sans-serif
	color #97989a
	font-size 20px

.content.assessment-tool .questions.end-sentence>li>*>h1
	color dark-blue
	font-size 30px
	margin-top 0px

.content.assessment-tool .QaList ul li 
	float left
	height auto
	width 50%
	white-space normal

.content.assessment-tool .QaList ul li.other
	width 100%

.content.assessment-tool .QaList ul li i
	background-color #ededed
	height 20px
	width 20px
	display block
	float left
	margin-right 15px
	margin-bottom 15px
	//transition all 0.5s ease

.content.assessment-tool .QaList ul li.selected i
	background-color #09bfea

.content.assessment-tool .QaList ul li.selected span
	color #09bfea

.content.assessment-tool .QaList ul li.other input
	border none
	background-color #dde7f0
	border-radius 3px
	margin-left 10px
	padding 5px 10px
	
.inline-display
	display inline-block


////// QA COMPONENTS ///////////////
.content.assessment-tool .industry .view-container
	overflow visible

.assessment-tool .QaSlider
	position relative

.assessment-tool .QaSlider h1
	margin-bottom 50px
	margin-top 50px

.assessment-tool .QaSlider .input
	position relative


.assessment-tool .QaSlider .input .rail
	width 98%
	height 20px
	position absolute
	top 25px
	left 1%
	box-shadow 0px 1px 8px 2px rgba(0,0,0,0.2)

.assessment-tool .QaSlider .input .handle
	width 76px
	height 76px
	top -10px
	margin-left -10px
	position relative
	box-sizing content-box
	border solid 10px #00bfe7//#12a2cd

.assessment-tool .QaSlider .input>ul
	width 100%
	position absolute
	top 0px


.assessment-tool .QaSlider .input>ul>li
	box-sizing border-box;
	width 77px
	height 77px
	line-height 77px
	position absolute
	border solid 2px #12a2cd//#00bfe7
	text-align center
	background-color white
	box-shadow 0px 1px 8px 2px rgba(0,0,0,0.2)
	cursor pointer


.assessment-tool .QaSlider .input>ul>li>span
	line-height normal
	vertical-align middle
	display inline-block
	padding 0px
	font-family 'InterstateLight', Arial, Helvetica
	font-size 12px
	font-weight 100
	text-align center
	white-space normal 

.questions .QaList ul li
	float left
	width 33.33%
	padding 10px 0

.assessment-tool .QaDropdown
	position relative;
	left 0
	top 0

.assessment-tool .QaDropdown .QaDropdown-inner
	background-color #fff
	box-shadow inset 0px 1px 8px 2px rgba(0,0,0,0.2)
	position absolute
	width 200px
	height 0px
	overflow hidden;
	/*transition all 0.5s ease*/

.assessment-tool .QaDropdown .QaDropdown-inner.open
	height 300px

.assessment-tool .QaDropdown .QaDropdown-inner ul.items
	padding 10px
	position absolute


.assessment-tool .QaDropdown .QaDropdown-inner ul.items li.selected
	background-color: #dde7f0;

.assessment-tool .QaDropdown .scrollbar .handle
	width 100%
	height 10%
	background-color rgba(0,0,0,0.5)
	position relative
	top 0px
	border-radius 5px
	opacity 0
	transition opacity 0.5s


.assessment-tool .QaDropdown .scrollbar.visible .handle	
	opacity 1


.assessment-tool .QaDropdown .scrollbar
	position absolute
	width 10px
	top 0px
	right 0px
	height 100%
	z-index 100


.dropdown-btn
	border 2px solid #eee
	border-radius 0px
	background-color #fff
	position relative
	padding 5px 0
	width 180px
	overflow visible

.dropdown-btn i
	background-color #09bfea
	color #fff
	font-size 16px
	position absolute
	right -23px
	top -2px
	line-height 1em
	padding 5px 10px


//TIMELINE

.timeline-container
	background-color function-grey
	height 10px
	width 100%
	position relative
	border-radius 0px
	overflow hidden
	margin 43px auto

.timeline-container span
	background-color white
	height 10px
	width 5px
	display block
	cursor  pointer
	position absolute
	top 0
	left 20px
	transform translate(-50%,0%)
	z-index 3

.timeline-position
	background-color light-blue
	height 100%
	width 0%
	position absolute
	top 0

.timeline-progress
	background-color blue
	height 100%
	width 0%
	position absolute
	top 0


.timeline-parts
	height 100%
	width 100%
	position absolute
	top 0

#templates
	display none

.disabled 
	pointer-events none
	cursor none
	opacity 0.5


//ACCORDION

#accordion
	list-style-type none
	padding 0
	width 100%
	-webkit-border-radius 5px
	-moz-border-radius 5px
	border-radius 5px
	overflow: hidden

#accordion div
	border-top 1px solid rgb(158, 181, 230)
	border-bottom 1px solid rgb(92, 117, 197)
	display block
	background-color rgb(131, 160, 252)
	color #fff
	margin 0
	cursor pointer
	padding 5px 10px

#accordion ul
	max-height 200px
	list-style none
	padding 0
	overflow scroll

#accordion ul
	display none

#accordion ul li
	font-weight normal
	cursor auto
	background-color rgb(221, 231, 240)
	padding 5px 7px

#accordion a
	text-decoration none

#accordion a:hover
	text-decoration underline


// MOBILE - 600px (used to be 480px)
@media only screen and ( max-width: 600px )
	
	//////////// Assessment Tool ////////////
	.content.assessment-tool .parts .tasks>li>h1, .content.assessment-tool .questions.end-sentence>li>*>h1
		font-size 24px
	.content.assessment-tool .questions>li>*>h1
		font-size 18px
	.timeline-container
		margin 23px auto
		
	.assessment-tool .QaSlider .input .rail, .assessment-tool .QaSlider .input .handle
		display none
		

	.assessment-tool .QaSlider .input
		>ul
			position relative
			>li
				margin-bottom 20px
				height 50px
				width 96% !important
				line-height 50px
				position relative
				left 2% !important
				border solid 2px light-grey
		
				&.selected
					border solid 2px light-blue
				
	.content.assessment-tool .parts .tasks li.QaList ul li
		width 100%

	.content.assessment-tool .questions .QaList ul li
		padding 5px 0
		width 100%
		


	div.content.mobile .QaDropdown .QaDropdown-inner 
		width 100%

	div.content.mobile .QaDropdown .dropdown-btn
		padding 10px 0
		width 100%


	div.content.mobile .QaDropdown .dropdown-btn i
		line-height 1.5em;
		right -1px

	div.content.mobile .QaDropdown-inner ul.items li
		padding 2%
		width 96%
