@media only screen and ( min-width: 481px )

	.content
		
		.intro
			h1
				font-size 45px
				font-size 4.5rem
			p 
				max-width 500px

		.item
			padding 1%
			width 48%
			margin-right 2%
			margin-bottom 20px

			box-shadow( 0px 1px 8px 2px rgba(0,0,0,0.2) )

			p 
				height auto
				margin-top 0px

			header
				height auto

		.link
			padding 0 !important
		

	.content.progress-makers
		
		#profile-list-container
			padding 0 3%

			.item
				header
					height 62px
				p
					height 95px

			.link
				width 46%

				.main-content
					width 100%
					float left
				p
					max-width 400px
					font-size 18px
					font-size 1.8rem
					clear both
					height auto


@media only screen and ( min-width: 650px )

	.header
		.banner
			.title
				display table-cell
				text-align right

			.mobile-menu
				display none

		.navigation
			padding-left 3%
			font-size 12px
			font-size 1.2rem
			height auto
			&.open
				height auto
			li 
				float left
				display inline-block
				border-top none

			li:last-child
				border-bottom none

	.content
		.featured
			position relative
			float left
			margin 30px 2%
			width 96%

			ul
				margin 0px
				padding 0px
				float left
				position relative

				li
					width 32%
					margin-right 2%

					padding 0px
					position relative
					float left
					//text-align center
					cursor pointer

					a
						text-decoration none
						color #999999


					h2
						height 40px
						display table-cell
						width 100%
						vertical-align middle

					p
						height 130px
						padding 10px
						font-size 14px
						font-size 1.4rem
						display table-cell
						vertical-align top

	.content.pm-profile
		.progress-makers-detail

			border 1px solid light-grey
			margin 0 4% 
			width 92%

			.body-left
				border-right 1px dotted dark-blue
				margin-right -1px
				padding 4%
				width 70%

				.abstract
					border-bottom 1px dotted dark-blue
					float left
					margin-bottom 30px

					img
						width 35%
						float left
						margin 0px 20px 8px 0px

					h1,h2,p
						padding-left 0
						padding-right 0

					h1
						margin-top 0px
					h2
						margin-bottom 50px

				.main
					padding 0

			.body-right
				padding 3%
				width 30%

				>h2
					margin 0px 0px 10px

				.item
					width 100%
					box-shadow( none )

				header,p
					margin 0

				header
					height auto
					margin 10px 0px

					h2
						font-size 20px
						font-size 2.0rem

	footer
		font-size 10px
		font-size 1.0rem
		margin-bottom 20px
		padding-top 10px
		display table
		table-layout fixes

		>*
			display table-cell
			float none

		.copyright
			width 33.333%

		.policy
			width 33.333%
			text-align center

		.partner
			width 33.333%
			text-align right

			span
				display inline-block
				margin-right 10px
				margin-bottom 10px

			ul
				margin-top 0px
				float right
	.results-page-matrix
		font-size 14px
		ul
			li
				ul
					position relative
					&.header
						height 50px !important
						margin-bottom 0 !important
						li
							margin-bottom 0 !important
							ul
								li
									border-bottom 0 !important
									margin-bottom 0 !important
					
					li
						margin-bottom 2px
						display inline-block
						margin-left 1px
						&:first-child
							+ li
								width 70%
								position absolute
								top 0
								right 0
								height 100%
								color #fff
						&:first-child
							width 30%
							text-align left
							padding 5px 0
							border-bottom 1px solid function-grey
							border-top 1px solid function-grey
						ul
							display table
							position absolute
							height 100%
							width 100%
							li
								border-right none
								display table-cell !important
								vertical-align middle
								padding 0 !important
								position relative !important
								text-align center !important
								width 20% !important

